api-end-points.json
[{"id":"965d43ca.75e1b","type":"http in","z":"33aac4b2.21696c","name":"/api?jwt=","url":"/api","method":"get","swaggerDoc":"","x":65,"y":20,"wires":[["1072b53d.c71a6b"]]},{"id":"ffeeb291.9d795","type":"function","z":"33aac4b2.21696c","name":"bind data to payload","func":"var data = msg.token;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":654.0572052001953,"y":20,"wires":[["8db63866.c9f8b8"]]},{"id":"303e9e7c.33bcb2","type":"JsonWebToken","z":"33aac4b2.21696c","name":"SouqJWT","tokenconfig":"aa8aa73c.277248","x":467.6207580566406,"y":20,"wires":[["ffeeb291.9d795"]]},{"id":"1072b53d.c71a6b","type":"function","z":"33aac4b2.21696c","name":"bind jwt to msg.token","func":"//bind jwt var to url parameter and put it in the msg.token\n\nvar jwt = '';\n\njwt = msg.req.query.jwt;\n\nmsg.payload = jwt;\nmsg.token = jwt;\n\nreturn msg;","outputs":1,"noerr":0,"x":263.92637634277344,"y":20,"wires":[["303e9e7c.33bcb2"]]},{"id":"8db63866.c9f8b8","type":"switch","z":"33aac4b2.21696c","name":"route based on request","property":"payload.request","propertyType":"msg","rules":[{"t":"regex","v":"deposit","vt":"str","case":false},{"t":"regex","v":"balance","vt":"str","case":false},{"t":"regex","v":"owned","vt":"str","case":false},{"t":"regex","v":"price","vt":"str","case":false},{"t":"regex","v":"create","vt":"str","case":false},{"t":"regex","v":"find","vt":"str","case":false},{"t":"regex","v":"details","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":8,"x":669.5850524902344,"y":301.82898712158203,"wires":[["adc4f654.8feda8"],["e26d7885.ce5b68"],["414ea76d.113378"],["287f3a3a.9803b6"],["e44b5ac8.7995d8"],["b0edaab3.d1ffb8"],["6edc50bc.0820b"],["33e1a4db.e2f54c"]]},{"id":"45a2c29.bee8a3c","type":"http response","z":"33aac4b2.21696c","name":"","x":1457.923484802246,"y":53.61152648925781,"wires":[]},{"id":"20516fc7.58baa","type":"exec","z":"33aac4b2.21696c","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1096.1031341552734,"y":66.73722267150879,"wires":[["7c06d4c0.bf881c"],[],[]]},{"id":"7c06d4c0.bf881c","type":"json","z":"33aac4b2.21696c","name":"","x":1291.9031448364258,"y":53.570556640625,"wires":[["45a2c29.bee8a3c","d80b6b3.f41ff98"]]},{"id":"d80b6b3.f41ff98","type":"debug","z":"33aac4b2.21696c","name":"debug deposit","active":true,"console":"false","complete":"payload","x":1574.202751159668,"y":23.33333396911621,"wires":[]},{"id":"adc4f654.8feda8","type":"function","z":"33aac4b2.21696c","name":"if deposit","func":"msg.payload = 'deposit';\n\nreturn msg;","outputs":1,"noerr":0,"x":931.9986801147461,"y":67.01500129699707,"wires":[["20516fc7.58baa"]]},{"id":"b9d32cd3.14ad7","type":"http response","z":"33aac4b2.21696c","name":"","x":731.7013854980469,"y":474.5965156555176,"wires":[]},{"id":"33e1a4db.e2f54c","type":"function","z":"33aac4b2.21696c","name":"if error","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":727.6483345031738,"y":418.58601474761963,"wires":[["b9d32cd3.14ad7"]]},{"id":"6084f5f4.3f669c","type":"http response","z":"33aac4b2.21696c","name":"","x":1461.2570343017578,"y":113.48542356491089,"wires":[]},{"id":"e26d7885.ce5b68","type":"function","z":"33aac4b2.21696c","name":"if balance","func":"msg.payload = 'balance';\n\nreturn msg;","outputs":1,"noerr":0,"x":929.8717355728149,"y":126.94272899627686,"wires":[["9cb30825.a791c8"]]},{"id":"9cb30825.a791c8","type":"exec","z":"33aac4b2.21696c","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1098.2142868041992,"y":127.2205638885498,"wires":[["ace01814.6188b8"],[],[]]},{"id":"ace01814.6188b8","type":"json","z":"33aac4b2.21696c","name":"","x":1296.792049407959,"y":114.19828510284424,"wires":[["6084f5f4.3f669c","ab8a3949.4b5a18"]]},{"id":"ab8a3949.4b5a18","type":"debug","z":"33aac4b2.21696c","name":"debug balance","active":true,"console":"false","complete":"payload","x":1594.2289123535156,"y":86.15128135681152,"wires":[]},{"id":"287f3a3a.9803b6","type":"function","z":"33aac4b2.21696c","name":"if price","func":"var todo = 'price';\nvar projectname = msg.payload.id;\nvar type = '.id';\n\nmsg.payload = todo + ' ' + projectname + type;\n\nreturn msg;","outputs":1,"noerr":0,"x":923.1250076293945,"y":273.1319351196289,"wires":[["d48d31ba.a4c88"]]},{"id":"d48d31ba.a4c88","type":"exec","z":"33aac4b2.21696c","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1106.6065673828125,"y":272.4384346008301,"wires":[["45cc01fc.8c701"],[],[]]},{"id":"1b3878de.f04f37","type":"http response","z":"33aac4b2.21696c","name":"","x":1461.8789367675781,"y":258.6207494735718,"wires":[]},{"id":"45cc01fc.8c701","type":"json","z":"33aac4b2.21696c","name":"","x":1303.4140968322754,"y":259.44469356536865,"wires":[["1b3878de.f04f37","9039fe3d.f798e"]]},{"id":"9039fe3d.f798e","type":"debug","z":"33aac4b2.21696c","name":"debug price","active":true,"console":"false","complete":"payload","x":1587.235927581787,"y":234.24300956726074,"wires":[]},{"id":"e44b5ac8.7995d8","type":"debug","z":"33aac4b2.21696c","name":"debug create","active":true,"console":"false","complete":"payload","x":1002.7846984863281,"y":431.368013381958,"wires":[]},{"id":"b0edaab3.d1ffb8","type":"debug","z":"33aac4b2.21696c","name":"debug find","active":true,"console":"false","complete":"payload","x":992.0138626098633,"y":476.4652433395386,"wires":[]},{"id":"6edc50bc.0820b","type":"debug","z":"33aac4b2.21696c","name":"debug details","active":true,"console":"false","complete":"payload","x":998.6805419921875,"y":525.3541202545166,"wires":[]},{"id":"9b32fca8.1c8cf","type":"http response","z":"33aac4b2.21696c","name":"","x":1460.9026145935059,"y":190.1319236755371,"wires":[]},{"id":"414ea76d.113378","type":"function","z":"33aac4b2.21696c","name":"if owned","func":"msg.payload = 'names';\n\nreturn msg;","outputs":1,"noerr":0,"x":931.8506736755371,"y":203.25589179992676,"wires":[["ef8cb488.0f0648"]]},{"id":"ef8cb488.0f0648","type":"exec","z":"33aac4b2.21696c","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1104.6377334594727,"y":203.53371810913086,"wires":[["91dc49e7.a8df78"],[],[]]},{"id":"91dc49e7.a8df78","type":"json","z":"33aac4b2.21696c","name":"","x":1297.1043510437012,"y":190.51144981384277,"wires":[["9b32fca8.1c8cf","57ab6190.0d561"]]},{"id":"57ab6190.0d561","type":"debug","z":"33aac4b2.21696c","name":"debug owned","active":true,"console":"false","complete":"payload","x":1585.985710144043,"y":162.4644546508789,"wires":[]},{"id":"aa8aa73c.277248","type":"JsonWebToken_config","z":"33aac4b2.21696c","name":"SouqJWT","secret":"123abc"}]
