api-end-points.json
[{"id":"3900d1b9.a99b1e","type":"http in","z":"940eb5b4.7e2ae8","name":"/get?jwt=","url":"/get","method":"get","swaggerDoc":"","x":65,"y":33.19999694824219,"wires":[["45315292.80c2cc"]]},{"id":"29233f86.f3aca","type":"function","z":"940eb5b4.7e2ae8","name":"bind data to payload","func":"var data = msg.token;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":654.0572052001953,"y":33.19999694824219,"wires":[["fb106527.32ef98"]]},{"id":"e64cbbef.6f7808","type":"JsonWebToken","z":"940eb5b4.7e2ae8","name":"SouqJWT","tokenconfig":"b7a5b4a9.918058","x":467.6207580566406,"y":33.19999694824219,"wires":[["29233f86.f3aca"]]},{"id":"45315292.80c2cc","type":"function","z":"940eb5b4.7e2ae8","name":"bind jwt to msg.token","func":"//bind jwt var to url parameter and put it in the msg.token\n\nvar jwt = '';\n\njwt = msg.req.query.jwt;\n\nmsg.payload = jwt;\nmsg.token = jwt;\n\nreturn msg;","outputs":1,"noerr":0,"x":263.92637634277344,"y":33.19999694824219,"wires":[["e64cbbef.6f7808"]]},{"id":"fb106527.32ef98","type":"switch","z":"940eb5b4.7e2ae8","name":"route based on request","property":"payload.request","propertyType":"msg","rules":[{"t":"regex","v":"deposit","vt":"str","case":false},{"t":"regex","v":"balance","vt":"str","case":false},{"t":"regex","v":"owned","vt":"str","case":false},{"t":"regex","v":"price","vt":"str","case":false},{"t":"regex","v":"find","vt":"str","case":false},{"t":"regex","v":"details","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":7,"x":659.5850524902344,"y":315.0289840698242,"wires":[["4c3d1959.792a18"],["ecaa9811.ca1778"],["9f670269.f9bbd"],["c314c566.f50108"],["9debca1e.bbc5c8"],["1c5ca2.f165935e"],["2d29a1d3.b79d4e"]]},{"id":"3e3b32ce.1455de","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1457.923484802246,"y":66.8115234375,"wires":[]},{"id":"df4e21b4.52d6b","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1096.1031341552734,"y":79.93721961975098,"wires":[["793c7eb0.523d5"],[],[]]},{"id":"793c7eb0.523d5","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1291.9031448364258,"y":66.77055358886719,"wires":[["3e3b32ce.1455de","75a80c2d.c4bb84"]]},{"id":"75a80c2d.c4bb84","type":"debug","z":"940eb5b4.7e2ae8","name":"debug deposit","active":true,"console":"false","complete":"payload","x":1574.202751159668,"y":36.5333309173584,"wires":[]},{"id":"4c3d1959.792a18","type":"function","z":"940eb5b4.7e2ae8","name":"if deposit","func":"msg.payload = 'deposit';\n\nreturn msg;","outputs":1,"noerr":0,"x":931.9986801147461,"y":80.21499824523926,"wires":[["df4e21b4.52d6b"]]},{"id":"d55725fe.9c0a68","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":731.7013854980469,"y":487.79651260375977,"wires":[]},{"id":"2d29a1d3.b79d4e","type":"function","z":"940eb5b4.7e2ae8","name":"if error","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":727.6483345031738,"y":431.7860116958618,"wires":[["d55725fe.9c0a68"]]},{"id":"11eec97d.89f057","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1461.2570343017578,"y":126.68542051315308,"wires":[]},{"id":"ecaa9811.ca1778","type":"function","z":"940eb5b4.7e2ae8","name":"if balance","func":"msg.payload = 'balance';\n\nreturn msg;","outputs":1,"noerr":0,"x":929.8717355728149,"y":140.14272594451904,"wires":[["1a3add8e.284532"]]},{"id":"1a3add8e.284532","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1098.2142868041992,"y":140.420560836792,"wires":[["bb482a2a.e477e8"],[],[]]},{"id":"bb482a2a.e477e8","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1296.792049407959,"y":127.39828205108643,"wires":[["11eec97d.89f057","4d7dd964.490008"]]},{"id":"4d7dd964.490008","type":"debug","z":"940eb5b4.7e2ae8","name":"debug balance","active":true,"console":"false","complete":"payload","x":1594.2289123535156,"y":99.35127830505371,"wires":[]},{"id":"c314c566.f50108","type":"function","z":"940eb5b4.7e2ae8","name":"if price","func":"var todo = 'price';\nvar projectname = msg.payload.id;\nvar type = '.id';\n\nmsg.payload = todo + ' ' + projectname + type;\n\nreturn msg;","outputs":1,"noerr":0,"x":923.1250076293945,"y":286.3319320678711,"wires":[["5cfb87dd.a356a8"]]},{"id":"5cfb87dd.a356a8","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1106.6065673828125,"y":285.63843154907227,"wires":[["b17abd01.98f9b"],[],[]]},{"id":"8ea9e411.d5f618","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1461.8789367675781,"y":271.82074642181396,"wires":[]},{"id":"b17abd01.98f9b","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1303.4140968322754,"y":272.64469051361084,"wires":[["8ea9e411.d5f618","40d90b41.76b6f4"]]},{"id":"40d90b41.76b6f4","type":"debug","z":"940eb5b4.7e2ae8","name":"debug price","active":true,"console":"false","complete":"payload","x":1587.235927581787,"y":247.44300651550293,"wires":[]},{"id":"c9561286.061a1","type":"debug","z":"940eb5b4.7e2ae8","name":"debug create","active":true,"console":"false","complete":"payload","x":958.7846984863281,"y":670.5680770874023,"wires":[]},{"id":"9debca1e.bbc5c8","type":"debug","z":"940eb5b4.7e2ae8","name":"debug find","active":true,"console":"false","complete":"payload","x":933.0138854980469,"y":361.66524505615234,"wires":[]},{"id":"1c5ca2.f165935e","type":"debug","z":"940eb5b4.7e2ae8","name":"debug details","active":true,"console":"false","complete":"payload","x":939.6805648803711,"y":410.55412197113037,"wires":[]},{"id":"aea0e375.cb33a","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1460.9026145935059,"y":203.3319206237793,"wires":[]},{"id":"9f670269.f9bbd","type":"function","z":"940eb5b4.7e2ae8","name":"if owned","func":"msg.payload = 'names';\n\nreturn msg;","outputs":1,"noerr":0,"x":931.8506736755371,"y":216.45588874816895,"wires":[["52545ba5.bc39d4"]]},{"id":"52545ba5.bc39d4","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1104.6377334594727,"y":216.73371505737305,"wires":[["ff0509c8.634c08"],[],[]]},{"id":"ff0509c8.634c08","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1297.1043510437012,"y":203.71144676208496,"wires":[["aea0e375.cb33a","d37027b5.d604b8"]]},{"id":"d37027b5.d604b8","type":"debug","z":"940eb5b4.7e2ae8","name":"debug owned","active":true,"console":"false","complete":"payload","x":1585.985710144043,"y":175.6644515991211,"wires":[]},{"id":"3d7ce56d.3646ea","type":"switch","z":"940eb5b4.7e2ae8","name":"route based on request","property":"payload.request","propertyType":"msg","rules":[{"t":"regex","v":"create","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":667.5851135253906,"y":677.9333190917969,"wires":[["c9561286.061a1"],["aa9bb11d.f7125"]]},{"id":"86e77c86.8fea8","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":729.7014465332031,"y":850.7008476257324,"wires":[]},{"id":"aa9bb11d.f7125","type":"function","z":"940eb5b4.7e2ae8","name":"if error","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":725.6483955383301,"y":794.6903467178345,"wires":[["86e77c86.8fea8"]]},{"id":"a7bf150f.41f138","type":"function","z":"940eb5b4.7e2ae8","name":"bind data to payload","func":"var data = msg.token;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":654.0572052001953,"y":594.104362487793,"wires":[["3d7ce56d.3646ea"]]},{"id":"3a870a8e.c24906","type":"JsonWebToken","z":"940eb5b4.7e2ae8","name":"SouqJWT","tokenconfig":"b7a5b4a9.918058","x":467.6207580566406,"y":594.104362487793,"wires":[["a7bf150f.41f138"]]},{"id":"20b6d2d.593e62e","type":"function","z":"940eb5b4.7e2ae8","name":"bind jwt to msg.token","func":"//bind jwt var to url parameter and put it in the msg.token\n\nvar jwt = '';\n\njwt = msg.req.query.jwt;\n\nmsg.payload = jwt;\nmsg.token = jwt;\n\nreturn msg;","outputs":1,"noerr":0,"x":263.92637634277344,"y":594.104362487793,"wires":[["3a870a8e.c24906"]]},{"id":"d4f2cbf6.cda188","type":"http in","z":"940eb5b4.7e2ae8","name":"/post?jwt=","url":"/post","method":"post","swaggerDoc":"","x":65,"y":593.1043395996094,"wires":[["20b6d2d.593e62e"]]},{"id":"b7a5b4a9.918058","type":"JsonWebToken_config","z":"940eb5b4.7e2ae8","name":"SouqJWT","secret":"123abc"}]
