get-balance-of-deposit-address-api-end-point.json
[{"id":"3a7bb600.5f3bea","type":"function","z":"33aac4b2.21696c","name":"bind the decoded token back into the payload","func":"var data = msg.token;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":806.9999389648438,"y":909.1666259765625,"wires":[["ae690b4a.d4fc78","baaa020c.4a4cc"]]},{"id":"35a12740.a7c9b8","type":"JsonWebToken","z":"33aac4b2.21696c","name":"SouqJWT","tokenconfig":"aa8aa73c.277248","x":503.99993896484375,"y":909.9667358398438,"wires":[["3a7bb600.5f3bea","5a9ce7a.3e67318"]]},{"id":"ae690b4a.d4fc78","type":"debug","z":"33aac4b2.21696c","name":"","active":true,"console":"false","complete":"payload.request","x":969.833251953125,"y":842.550048828125,"wires":[]},{"id":"baaa020c.4a4cc","type":"switch","z":"33aac4b2.21696c","name":"route based on request","property":"payload.request","propertyType":"msg","rules":[{"t":"regex","v":"balance","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":1158.0499572753906,"y":908.7239379882812,"wires":[["51374094.2f6668"],["3c981548.5c103a"]]},{"id":"4f4dbe28.ed6a1","type":"function","z":"33aac4b2.21696c","name":"bind jwt to msg.token","func":"//bind jwt var to url parameter and put it in the msg.token\n\nvar jwt = '';\n\njwt = msg.req.query.jwt;\n\nmsg.payload = jwt;\nmsg.token = jwt;\n\nreturn msg;","outputs":1,"noerr":0,"x":310.9999694824219,"y":909.6666259765625,"wires":[["35a12740.a7c9b8"]]},{"id":"5a9ce7a.3e67318","type":"debug","z":"33aac4b2.21696c","name":"","active":true,"console":"false","complete":"token","x":624.8333129882812,"y":846.466552734375,"wires":[]},{"id":"51374094.2f6668","type":"function","z":"33aac4b2.21696c","name":"if correct","func":"msg.payload = 'balance';\n\nreturn msg;","outputs":1,"noerr":0,"x":1344.1427001953125,"y":853.6961669921875,"wires":[["710119bc.f4c5c"]]},{"id":"3c981548.5c103a","type":"function","z":"33aac4b2.21696c","name":"if error","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":1343.466552734375,"y":955.8444213867188,"wires":[["f160fa0f.c78f2"]]},{"id":"777898c2.54b23","type":"http in","z":"33aac4b2.21696c","name":"/get/balance ?jwt=","url":"/get/balance","method":"get","swaggerDoc":"","x":95,"y":909.3333129882812,"wires":[["4f4dbe28.ed6a1"]]},{"id":"710119bc.f4c5c","type":"exec","z":"33aac4b2.21696c","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1506.4852294921875,"y":853.41845703125,"wires":[["d7b0468e.4599c"],[],[]]},{"id":"f160fa0f.c78f2","type":"http response","z":"33aac4b2.21696c","name":"","x":1493.392578125,"y":956.473876953125,"wires":[]},{"id":"d7b0468e.4599c","type":"json","z":"33aac4b2.21696c","name":"","x":1652.2852783203125,"y":840.618408203125,"wires":[["e64db37e.664f6"]]},{"id":"e64db37e.664f6","type":"http response","z":"33aac4b2.21696c","name":"","x":1800.5279541015625,"y":839.79443359375,"wires":[]},{"id":"59ac52bd.0f010c","type":"comment","z":"33aac4b2.21696c","name":"API to Get Address Balance (requires JWT)","info":"to properly call this end point\nthe value must be encoded with jwt HSA256\nelse it will not validate and you will get an error response\n\n","x":175,"y":845.379150390625,"wires":[]},{"id":"aa8aa73c.277248","type":"JsonWebToken_config","z":"33aac4b2.21696c","name":"SouqJWT","secret":"123abc"}]