get-deposit-address-api-end-point.json
[{"id":"c61e832a.f20d4","type":"http response","z":"33aac4b2.21696c","name":"","x":1842.5279541015625,"y":642.477783203125,"wires":[]},{"id":"71cdf360.28ca04","type":"json","z":"33aac4b2.21696c","name":"","x":1694.2852783203125,"y":638.3017578125,"wires":[["c61e832a.f20d4"]]},{"id":"135daaa4.e31275","type":"exec","z":"33aac4b2.21696c","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1538.4852294921875,"y":639.851806640625,"wires":[["71cdf360.28ca04"],[],[]]},{"id":"368b94cb.06fd7c","type":"function","z":"33aac4b2.21696c","name":"if correct - inject 'deposit' string ","func":"msg.payload = 'deposit';\n\nreturn msg;","outputs":1,"noerr":0,"x":1295.6427001953125,"y":637.6295166015625,"wires":[["135daaa4.e31275"]]},{"id":"a21d564e.de6cf8","type":"switch","z":"33aac4b2.21696c","name":"route based on request","property":"payload.request","propertyType":"msg","rules":[{"t":"regex","v":"deposit","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":1200.0499572753906,"y":703.4072875976562,"wires":[["368b94cb.06fd7c"],["1da2b1cf.b5c096"]]},{"id":"e0f9e1c5.62a7a","type":"function","z":"33aac4b2.21696c","name":"bind the decoded token back into the payload","func":"var data = msg.token;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":825.9999389648438,"y":704.8499755859375,"wires":[["ff97a5fe.b3077","a21d564e.de6cf8"]]},{"id":"1da2b1cf.b5c096","type":"function","z":"33aac4b2.21696c","name":"if error response","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":1220.4666748046875,"y":762.2777709960938,"wires":[["964f90aa.89616"]]},{"id":"69ac601b.5ac0c","type":"JsonWebToken","z":"33aac4b2.21696c","name":"SouqJWT","tokenconfig":"aa8aa73c.277248","x":523.9998779296875,"y":707.6500854492188,"wires":[["e0f9e1c5.62a7a","a1ee4f52.ebfe68"]]},{"id":"ff97a5fe.b3077","type":"debug","z":"33aac4b2.21696c","name":"","active":true,"console":"false","complete":"payload.request","x":1011.833251953125,"y":640.2333984375,"wires":[]},{"id":"964f90aa.89616","type":"http response","z":"33aac4b2.21696c","name":"","x":1381.8927001953125,"y":760.4072265625,"wires":[]},{"id":"9cb8de80.24fb5","type":"function","z":"33aac4b2.21696c","name":"bind jwt to msg.token","func":"//bind jwt var to url parameter and put it in the msg.token\n\nvar jwt = '';\n\njwt = msg.req.query.jwt;\n\nmsg.payload = jwt;\nmsg.token = jwt;\n\nreturn msg;","outputs":1,"noerr":0,"x":310.9999694824219,"y":707.3499755859375,"wires":[["69ac601b.5ac0c"]]},{"id":"a1ee4f52.ebfe68","type":"debug","z":"33aac4b2.21696c","name":"","active":true,"console":"false","complete":"token","x":737.3333129882812,"y":639.1499786376953,"wires":[]},{"id":"82332121.3e22f8","type":"http in","z":"33aac4b2.21696c","name":"/get/deposit  ?jwt=","url":"/get/deposit","method":"get","swaggerDoc":"","x":85,"y":707.0166625976562,"wires":[["9cb8de80.24fb5"]]},{"id":"27d39575.0eee72","type":"comment","z":"33aac4b2.21696c","name":"API to Get Deposit Address (requires JWT)","info":"to properly call this end point\nthe value must be encoded with jwt HSA256\nelse it will not validate and you will get an error response\n\n","x":165,"y":643.0625,"wires":[]},{"id":"aa8aa73c.277248","type":"JsonWebToken_config","z":"33aac4b2.21696c","name":"SouqJWT","secret":"123abc"}]