node-red/02-20-2018_flows.json
[{"id":"3900d1b9.a99b1e","type":"http in","z":"940eb5b4.7e2ae8","name":"/get?jwt=","url":"/get","method":"get","swaggerDoc":"","x":65,"y":20,"wires":[["45315292.80c2cc"]]},{"id":"29233f86.f3aca","type":"function","z":"940eb5b4.7e2ae8","name":"bind data to payload","func":"var data = msg.token;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":20,"wires":[["fb106527.32ef98","d49519ec.1ced88"]]},{"id":"e64cbbef.6f7808","type":"JsonWebToken","z":"940eb5b4.7e2ae8","name":"SouqJWT","tokenconfig":"b7a5b4a9.918058","x":466.62078857421875,"y":20,"wires":[["29233f86.f3aca"]]},{"id":"45315292.80c2cc","type":"function","z":"940eb5b4.7e2ae8","name":"bind jwt to msg.token","func":"//bind jwt var to url parameter and put it in the msg.token\n\nvar jwt = '';\n\njwt = msg.req.query.jwt;\n\nmsg.payload = jwt;\nmsg.token = jwt;\n\nreturn msg;","outputs":1,"noerr":0,"x":262.9263916015625,"y":20,"wires":[["e64cbbef.6f7808"]]},{"id":"fb106527.32ef98","type":"switch","z":"940eb5b4.7e2ae8","name":"route based on request","property":"payload.request","propertyType":"msg","rules":[{"t":"regex","v":"token","vt":"str","case":false},{"t":"regex","v":"deposit","vt":"str","case":false},{"t":"regex","v":"balance","vt":"str","case":false},{"t":"regex","v":"price","vt":"str","case":false},{"t":"regex","v":"owned","vt":"str","case":false},{"t":"regex","v":"lookup","vt":"str","case":false},{"t":"regex","v":"whois","vt":"str","case":false},{"t":"regex","v":"search","vt":"str","case":false},{"t":"regex","v":"reviews","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":10,"x":846,"y":140,"wires":[["ef9edd88.e46fe"],["4c3d1959.792a18"],["ecaa9811.ca1778"],["c314c566.f50108"],["9f670269.f9bbd"],["ab6c6964.82a168"],["7be1d499.80e30c"],["f4a9eb36.09e838"],["3615f2e7.0e4b0e"],["2d29a1d3.b79d4e"]]},{"id":"3e3b32ce.1455de","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1689.0815887451172,"y":123.1710205078125,"wires":[]},{"id":"df4e21b4.52d6b","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1369.0815887451172,"y":123.1710205078125,"wires":[["793c7eb0.523d5"],[],[]]},{"id":"793c7eb0.523d5","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1529.0815887451172,"y":123.1710205078125,"wires":[["3e3b32ce.1455de","75a80c2d.c4bb84"]]},{"id":"75a80c2d.c4bb84","type":"debug","z":"940eb5b4.7e2ae8","name":"debug deposit","active":true,"console":"false","complete":"payload","x":1842.0272674560547,"y":120.22610473632812,"wires":[]},{"id":"4c3d1959.792a18","type":"function","z":"940eb5b4.7e2ae8","name":"if deposit","func":"msg.payload = 'deposit';\n\nreturn msg;","outputs":1,"noerr":0,"x":1199.0815887451172,"y":123.1710205078125,"wires":[["df4e21b4.52d6b"]]},{"id":"d55725fe.9c0a68","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":870,"y":340,"wires":[]},{"id":"2d29a1d3.b79d4e","type":"function","z":"940eb5b4.7e2ae8","name":"if error","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":867.3755493164062,"y":287.41802978515625,"wires":[["d55725fe.9c0a68"]]},{"id":"11eec97d.89f057","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1689.0815887451172,"y":175.1710205078125,"wires":[]},{"id":"ecaa9811.ca1778","type":"function","z":"940eb5b4.7e2ae8","name":"if balance","func":"msg.payload = 'balance';\n\nreturn msg;","outputs":1,"noerr":0,"x":1199.0815887451172,"y":175.1710205078125,"wires":[["1a3add8e.284532"]]},{"id":"1a3add8e.284532","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1369.0815887451172,"y":175.1710205078125,"wires":[["bb482a2a.e477e8"],[],[]]},{"id":"bb482a2a.e477e8","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1529.0815887451172,"y":175.1710205078125,"wires":[["11eec97d.89f057","4d7dd964.490008"]]},{"id":"4d7dd964.490008","type":"debug","z":"940eb5b4.7e2ae8","name":"debug balance","active":true,"console":"false","complete":"payload","x":1841.0534744262695,"y":173.5035319328308,"wires":[]},{"id":"c314c566.f50108","type":"function","z":"940eb5b4.7e2ae8","name":"if price","func":"var todo = 'price';\nvar projectname = msg.payload.id;\nvar type = '.id';\n\nmsg.payload = todo + ' ' + projectname + type;\n\nreturn msg;","outputs":1,"noerr":0,"x":1186.9999694824219,"y":226.9999828338623,"wires":[["5cfb87dd.a356a8"]]},{"id":"5cfb87dd.a356a8","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1369,"y":227,"wires":[["b17abd01.98f9b"],[],[]]},{"id":"8ea9e411.d5f618","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1669.0815887451172,"y":229.1710205078125,"wires":[]},{"id":"b17abd01.98f9b","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1529.0815887451172,"y":229.1710205078125,"wires":[["8ea9e411.d5f618","40d90b41.76b6f4"]]},{"id":"40d90b41.76b6f4","type":"debug","z":"940eb5b4.7e2ae8","name":"debug price","active":true,"console":"false","complete":"payload","x":1829.0815887451172,"y":229.1710205078125,"wires":[]},{"id":"aea0e375.cb33a","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1669.0815887451172,"y":279.1710205078125,"wires":[]},{"id":"9f670269.f9bbd","type":"function","z":"940eb5b4.7e2ae8","name":"if owned","func":"msg.payload = 'names';\n\nreturn msg;","outputs":1,"noerr":0,"x":1199.0815887451172,"y":278.1710205078125,"wires":[["52545ba5.bc39d4"]]},{"id":"52545ba5.bc39d4","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1369.0815887451172,"y":278.1710205078125,"wires":[["ff0509c8.634c08"],[],[]]},{"id":"ff0509c8.634c08","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1529.0815887451172,"y":279.1710205078125,"wires":[["aea0e375.cb33a","d37027b5.d604b8"]]},{"id":"d37027b5.d604b8","type":"debug","z":"940eb5b4.7e2ae8","name":"debug owned","active":true,"console":"false","complete":"payload","x":1839.0815887451172,"y":279.1710205078125,"wires":[]},{"id":"3d7ce56d.3646ea","type":"switch","z":"940eb5b4.7e2ae8","name":"route based on request","property":"payload.request","propertyType":"msg","rules":[{"t":"regex","v":"register","vt":"str","case":false},{"t":"regex","v":"recache","vt":"str","case":false},{"t":"regex","v":"review","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":4,"x":710,"y":1640,"wires":[["364a2f04.ede83","d4abb630.c3ab68","880fe864.d37388","83b0c5e7.1ef9f8","939b681e.af9248","5ffbb233.e76dac","1375aaa2.4dfbc5"],["83c8274a.4a5b98"],["43399f1c.e23e1"],["aa9bb11d.f7125"]]},{"id":"86e77c86.8fea8","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":710,"y":1760,"wires":[]},{"id":"aa9bb11d.f7125","type":"function","z":"940eb5b4.7e2ae8","name":"if error","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1720,"wires":[["86e77c86.8fea8"]]},{"id":"a7bf150f.41f138","type":"function","z":"940eb5b4.7e2ae8","name":"bind data to payload","func":"var data = msg.token;\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1460,"wires":[["3d7ce56d.3646ea","63360d60.da27b4"]]},{"id":"3a870a8e.c24906","type":"JsonWebToken","z":"940eb5b4.7e2ae8","name":"SouqJWT","tokenconfig":"b7a5b4a9.918058","x":457.5635757446289,"y":1460,"wires":[["a7bf150f.41f138"]]},{"id":"20b6d2d.593e62e","type":"function","z":"940eb5b4.7e2ae8","name":"bind jwt to msg.token","func":"//bind jwt var to url parameter and put it in the msg.token\n\nvar jwt = '';\n\njwt = msg.req.query.jwt;\n\nmsg.payload = jwt;\nmsg.token = jwt;\n\nreturn msg;","outputs":1,"noerr":0,"x":254.86917114257812,"y":1460,"wires":[["3a870a8e.c24906"]]},{"id":"d4f2cbf6.cda188","type":"http in","z":"940eb5b4.7e2ae8","name":"/post?jwt=","url":"/post","method":"post","upload":true,"swaggerDoc":"","x":60,"y":1459.9999694824219,"wires":[["20b6d2d.593e62e"]]},{"id":"56bc42ed.de029c","type":"function","z":"940eb5b4.7e2ae8","name":"generic successful response","func":"msg.payload = {\n    \"message\": \"The name has been queued up for registration and will take a few hours to go through. You can check on the status at any time by running 'blockstack info'.\",\n    \"success\": true,\n    \"transaction_hash\": \"TEMPResponse\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":1580,"wires":[["79a84fc0.4650e"]]},{"id":"915d46ae.06b3e8","type":"function","z":"940eb5b4.7e2ae8","name":"bind id to cmd params for blockstack","func":"var todo = \"register\";\nvar projectname = msg.payload.id;\nvar type = \".id\";\nvar yes = \"y\";\n\nmsg.payload = todo + ' ' + projectname + type + yes;\nreturn msg;","outputs":1,"noerr":0,"x":3430,"y":3340,"wires":[[]]},{"id":"541e887b.cc6898","type":"function","z":"940eb5b4.7e2ae8","name":"GEOADD binding for Redis (save project location)","func":"//bind  your variables from your decoded payload to your projectzone file\n\nvar project_id = msg.payload.id; //bind project id - this is corrisponding blockstack name\n\n//bind location vars\nvar longitude = msg.payload.coordinates.longitude;\nvar latitude = msg.payload.coordinates.latitude;\n\n\n//bind the payload vars in order to set them into the projects redis key\nmsg.payload = ['projects', longitude, latitude, project_id];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3830,"y":3260,"wires":[["ca64a132.06492","5ac08c64.ba9054"]]},{"id":"2c9d09e5.b83806","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":4634.107948303223,"y":3332.2468123435974,"wires":[]},{"id":"60ae2d99.48fd74","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"set","name":"SET Project Details to zone_update_que","topic":"","x":3832.8032722473145,"y":3303.9919123649597,"wires":[[]]},{"id":"dfe19c36.ebc16","type":"function","z":"940eb5b4.7e2ae8","name":"bind zone details for redis set project details","func":"//bind  your variables from your decoded payload to your projectzone file\n\n//bind project core vars\nvar vers = msg.payload.v; //bind version from input to output\nvar project_id = msg.payload.id; //bind project id - this is corrisponding blockstack name\n\n//bind project basic vars\nvar project_type = msg.payload.project.type; //bind project type \nvar project_category = msg.payload.project.category; //bind project\nvar project_title = msg.payload.project.title; //bind title\nvar project_detail = msg.payload.project.detail; //bind details\n\n//bind btc vars\nvar btc_address = msg.payload.bitcoin.address; \nvar btc_goal = msg.payload.bitcoin.goal; \n\n//bind location vars\nvar location_latitude = msg.payload.coordinates.latitude;\nvar location_longitude = msg.payload.coordinates.longitude;\n\n//bind image url var\nvar image_path = msg.payload.image.url;\n\n//bind contact vars\nvar contact_phone = msg.payload.contact.phone;\nvar contact_email = msg.payload.contact.email;\nvar contact_website = msg.payload.contact.website;\n\n//bind lineage vars\nvar parent_project = msg.payload.childof;\nvar child_projects = msg.payload.children;\n\n//bind variables to construct the zone file\nvar constructzone = {\n    \"v\":vers,\n    \"childof\":parent_project,\n    \"id\":project_id,\n    \"project\":{\n        \"type\":project_type,\n        \"category\":project_category,\n        \"title\":project_title,\n        \"detail\":project_detail\n    },\n    \"bitcoin\":{\n        \"address\":btc_address,\n        \"goal\":btc_goal\n    },\n    \"coordinates\":{\n        \"latitude\":location_latitude,\n        \"longitude\":location_longitude\n    },\n    \"image\":{\n        \"url\":image_path\n    },\n    \"contacts\":{\n        \"phone\":contact_phone,\n        \"email\":contact_email,\n        \"website\":contact_website\n    },\n    \"children\":{\n\n    }\n};\n\n\nvar projectzone = constructzone;\n\nmsg.payload = [projectname, projectzone];\n\nreturn msg;","outputs":1,"noerr":0,"x":3430.4222717285156,"y":3300.021577835083,"wires":[["60ae2d99.48fd74"]]},{"id":"ca64a132.06492","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"geoadd","name":"GEOADD project id and coordinates to projects geoindex ","topic":"","x":4341.50101852417,"y":3336.726418495178,"wires":[["2c9d09e5.b83806"]]},{"id":"5ac08c64.ba9054","type":"debug","z":"940eb5b4.7e2ae8","name":"Geoadd prefunc debugger","active":true,"console":"false","complete":"payload","x":4242.386638641357,"y":3370.8767466545105,"wires":[]},{"id":"364a2f04.ede83","type":"debug","z":"940eb5b4.7e2ae8","name":"ID debugger","active":true,"console":"false","complete":"payload.id","x":1170,"y":1540,"wires":[]},{"id":"d4abb630.c3ab68","type":"debug","z":"940eb5b4.7e2ae8","name":"route debug","active":true,"console":"false","complete":"payload","x":1170,"y":1500,"wires":[]},{"id":"8e18d207.d5b22","type":"function","z":"940eb5b4.7e2ae8","name":"HMSET binding for Redis (save project details)","func":"//bind project core vars\nvar key = msg.payload.id; // bind the project id to the 'key' parameter for redis HMSET cmd\n\nvar vers_field_label = \"v\"; // bind the project version field label to 'v'\nvar vers_field_value = msg.payload.v; //bind version from input to output\n\nvar id_field_label = \"id\"; // define field label as 'id'\nvar id_field_value = msg.payload.id; // bind the project id value to the field value of id\n\nvar project_type_field_label = 'type'; // define field label as 'type'\nvar project_type_field_value = msg.payload.project.type; //bind project type \n\nvar project_category_field_label = 'category'; // define field label as 'category'\nvar project_category_field_value = msg.payload.project.category; //bind project category\n\nvar project_title_field_label = 'title'; //define field label as 'title'\nvar project_title_field_value = msg.payload.project.title; //bind project title\n\nvar project_detail_field_label = 'detail'; //define field label as 'detail'\nvar project_detail_field_value = msg.payload.project.detail; //bind project detail \n\nvar btc_address_field_label = 'address'; // define field label as 'address'\nvar btc_address_field_value = msg.payload.bitcoin.address; // bind project address\nvar btc_goal_field_label = 'goal'; // define field label as 'goal'\nvar btc_goal_field_value = msg.payload.bitcoin.goal; // bind project goal\n\nvar location_latitude_field_label = 'latitude'; // define field label as 'latitude'\nvar location_latitude_field_value = msg.payload.coordinates.latitude; // bind project latitude\nvar location_longitude_field_label = 'longitude'; // define field label as 'longitude'\nvar location_longitude_field_value = msg.payload.coordinates.longitude; // bind project longitude\n\nvar image_path_field_label = 'imageurl'; // define field label as 'imageurl`\nvar image_path_field_value = msg.payload.image.url; // bind project image url\n\n//bind contact vars\nvar contact_phone_field_label = 'phone';\nvar contact_phone_field_value = msg.payload.contact.phone;\nvar contact_email_field_label = 'email';\nvar contact_email_field_value = msg.payload.contact.email;\nvar contact_website_field_label = 'website';\nvar contact_website_field_value = msg.payload.contact.website;\n\n//bind lineage vars\nvar parent_project_field_label = 'childof';\nvar parent_project_field_value = msg.payload.childof;\nvar child_projects_field_label = 'children';\nvar child_projects_field_value = msg.payload.children;\n\n//WARNING THIS NEEDS CONSTRUCTED STILL WITH THE all vars into the array for saving to redis\nmsg.payload = [key + ' ' + id_field_label + ' ' + id_field_value];\nreturn msg;","outputs":1,"noerr":0,"x":3818.274669647217,"y":3216.9868535995483,"wires":[["9d589cd4.2875c","38b7e5a.3125d1a"]]},{"id":"9d589cd4.2875c","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hmset","name":"HMSET projects details to project ID","topic":"","x":4285.624099731445,"y":3263.3838815689087,"wires":[["403bf827.759338"]]},{"id":"403bf827.759338","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":4532.234882354736,"y":3262.8281593322754,"wires":[]},{"id":"5577c425.723f9c","type":"function","z":"940eb5b4.7e2ae8","name":"SADD binding for Redis (save project id to registration queue)","func":"//save id value to the projects_reg_queue key (array) assuming id doesn't yet exist in the array \n\nvar key = \"projects_reg_queue\";\nvar value = msg.payload.id;\n\nmsg.payload = [key + ' ' + value];  \nreturn msg;","outputs":1,"noerr":0,"x":3862.0444946289062,"y":3187.018898487091,"wires":[["94adb511.a906f8","cc5feb1d.6c0d18"]]},{"id":"38b7e5a.3125d1a","type":"debug","z":"940eb5b4.7e2ae8","name":"HMSET prefunc debugger","active":true,"console":"false","complete":"payload","x":4245.901683807373,"y":3299.828351020813,"wires":[]},{"id":"94adb511.a906f8","type":"debug","z":"940eb5b4.7e2ae8","name":"SADD prefunc debugger","active":true,"console":"false","complete":"payload","x":4245.23503112793,"y":3227.828367948532,"wires":[]},{"id":"cc5feb1d.6c0d18","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"sadd","name":"SADD project ID to projects_reg_queue","topic":"","x":4293.290721893311,"y":3194.1617193222046,"wires":[["4f3495bc.e0ff5c"]]},{"id":"4f3495bc.e0ff5c","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":4532.901691436768,"y":3193.828402519226,"wires":[]},{"id":"d49519ec.1ced88","type":"debug","z":"940eb5b4.7e2ae8","name":"GET debugger","active":true,"console":"false","complete":"payload","x":1000,"y":20,"wires":[]},{"id":"63360d60.da27b4","type":"debug","z":"940eb5b4.7e2ae8","name":"POST debugger","active":true,"console":"false","complete":"payload","x":1180,"y":1460,"wires":[]},{"id":"ab6c6964.82a168","type":"function","z":"940eb5b4.7e2ae8","name":"if lookup","func":"var todo = 'lookup';\nvar projectname = msg.payload.id;\n//var type = '.id';\n\nmsg.payload = todo + ' ' + projectname; // + type;\n\nreturn msg;","outputs":1,"noerr":0,"x":1199.0815887451172,"y":328.1710205078125,"wires":[["f5d0682d.a4cb98"]]},{"id":"f5d0682d.a4cb98","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1369.0815887451172,"y":328.1710205078125,"wires":[["f1f54d3c.750ac"],[],[]]},{"id":"ca18e66c.28d758","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":2049.081588745117,"y":328.1710205078125,"wires":[]},{"id":"1f1a02b1.b92d9d","type":"debug","z":"940eb5b4.7e2ae8","name":"debug whois data","active":true,"console":"false","complete":"payload","x":1850,"y":420,"wires":[]},{"id":"7be1d499.80e30c","type":"function","z":"940eb5b4.7e2ae8","name":"if whois","func":"var todo = 'whois';\nvar projectname = msg.payload.id;\nvar type = '.id';\n\nmsg.payload = todo + ' ' + projectname + type;\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":420,"wires":[["a51a0d81.eef14"]]},{"id":"a51a0d81.eef14","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1370,"y":420,"wires":[["5225bc41.bebf04"],[],[]]},{"id":"5225bc41.bebf04","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1530,"y":420,"wires":[["500420a5.d1342","1f1a02b1.b92d9d"]]},{"id":"500420a5.d1342","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1690,"y":420,"wires":[]},{"id":"3615f2e7.0e4b0e","type":"debug","z":"940eb5b4.7e2ae8","name":"debug reviews","active":true,"console":"false","complete":"payload","x":880,"y":420,"wires":[]},{"id":"43399f1c.e23e1","type":"debug","z":"940eb5b4.7e2ae8","name":"debug Post Review","active":true,"console":"false","complete":"payload","x":690,"y":1980,"wires":[]},{"id":"c5756932.0a28d8","type":"file","z":"940eb5b4.7e2ae8","name":"Save to /home/temp/temp_zonefile.txt","filename":"/home/temp/temp_zonefile.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":4664.798259735107,"y":3073.083760738373,"wires":[]},{"id":"83b0c5e7.1ef9f8","type":"function","z":"940eb5b4.7e2ae8","name":"reconstruct project zonefile","func":"var rawdata = msg.payload; //bind raw original message\n\n//bind project basics\nvar projectidraw = msg.payload.id;\n\nvar projectid = projectidraw + \".id\";\n\nvar projectversion = msg.payload.v;\n\n//bind project details\nvar category = msg.payload.project.category;\nvar type = msg.payload.project.type;\nvar title = msg.payload.project.title;\nvar detail = msg.payload.project.detail;\nvar image = msg.payload.image.url;\n\n//bind contact info\nvar website = msg.payload.contacts.website;\nvar email = msg.payload.contacts.email;\nvar phone = msg.payload.contacts.phone;\n\n//bind bitcoin info\nvar address = msg.payload.bitcoin.address;\nvar goal = parseFloat(msg.payload.bitcoin.goal);\n\n//bind location info, might need reworked\nvar latitude = parseFloat(msg.payload.coordinates.latitude);\nvar longitude = parseFloat(msg.payload.coordinates.longitude);\n\n//bind relationship info\nvar childof = msg.payload.childof;\nvar children = msg.payload.children;\n\nvar zstring = {\"$origin\": projectid, \"$ttl\": 1200, \"project\":[{\"contacts\": {\"website\": website, \"phone\": phone, \"email\": email}, \"childof\": childof, \"bitcoin\": {\"goal\": goal, \"address\": address}, \"coordinates\": {\"latitude\": latitude, \"longitude\": longitude}, \"children\": children, \"project\": {\"category\": category, \"type\": type, \"detail\": detail, \"title\": title}, \"image\": {\"url\": image}, \"v\": projectversion, \"id\": projectid}]};\n\n\nmsg.topic = projectid;\n\nmsg.payload = zstring;\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1620,"wires":[["be1b5037.1dbd","fee95d3b.fadba"]]},{"id":"4f2a8e2.1270e7","type":"function","z":"940eb5b4.7e2ae8","name":"if register","func":"var yep = '-y -p';\nvar lets = ''; // the wallet password\nvar todo = 'register';\nvar it = msg.payload.id;\nvar type = '.id';\nvar zfile = '/home/temp/temp_zonefile.json';\n//do i need a final 'True' parameter?\n\n\n//the message should be use the following structure\n//next node will prefix our payload with: \"blockstack\" \n//our payload: \"-y -p WalletPass register sampleproject.id /home/temp/temp_zonefile.json\"\nmsg.payload = yep + ' ' + lets + ' ' + todo + ' ' + it + type + ' ' + zfile;\n//so the next node executes as\n//blockstack -y -p WalletPass register sampleproject.id /home/temp/temp_zonefile.json\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":1740,"wires":[["2adfcf2a.e7708","41732c7a.5c39c4"]]},{"id":"880fe864.d37388","type":"delay","z":"940eb5b4.7e2ae8","name":"delay by 5sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":1740,"wires":[["4f2a8e2.1270e7"]]},{"id":"41732c7a.5c39c4","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1550,"y":1740,"wires":[["7aa3ca4e.8c4ed4","463bdf9c.c8e0c8"],[],[]]},{"id":"7aa3ca4e.8c4ed4","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1690,"y":1760,"wires":[["a228a2d2.c6303","a132fc2.08b19"]]},{"id":"a228a2d2.c6303","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1870,"y":1760,"wires":[]},{"id":"2adfcf2a.e7708","type":"debug","z":"940eb5b4.7e2ae8","name":"pass to blockstack debug A","active":true,"console":"false","complete":"payload","x":1600,"y":1800,"wires":[]},{"id":"1860ad36.76d18b","type":"function","z":"940eb5b4.7e2ae8","name":"extract zonefile","func":"var raw_zone = msg.payload.zonefile;\n\n// var cleanzone1 = raw_zone.split(\"nproject TXT\")[1];\n\nvar raw_zone2 = raw_zone.split(\"project TXT\")[1];\n\nvar raw_zone3 = raw_zone2.substring(1);\n\nvar raw_zone4 = raw_zone3.substring(1);\n\nvar raw_zone5 = raw_zone4.split(\"file URI\")[0];\n\nvar raw_zone6 = raw_zone5.slice(0, -1);\n\nvar raw_zone7 = raw_zone6.slice(0, -1);\n\nvar raw_zone8 = raw_zone7.slice(0, -1);\n\nvar raw_zone9 = raw_zone8.replace(/\\'/g, \"\\\"\");\n\nmsg.payload = raw_zone9;\n\nreturn msg;","outputs":1,"noerr":0,"x":4180,"y":760,"wires":[[]]},{"id":"f1f54d3c.750ac","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1529.0815887451172,"y":328.1710205078125,"wires":[["aa8ee1e8.90461","69e144bf.b66a8c"]]},{"id":"e5754b6d.203d48","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"true","complete":"true","x":2189.081588745117,"y":328.1710205078125,"wires":[]},{"id":"3a6eb1b1.aff7be","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1890,"y":328,"wires":[["e5754b6d.203d48","ca18e66c.28d758"]]},{"id":"79a84fc0.4650e","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1550,"y":1580,"wires":[]},{"id":"1aa5ecff.8ae723","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1150,"y":1580,"wires":[["56bc42ed.de029c"]]},{"id":"247d9c02.e62e14","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"true","x":470,"y":1860,"wires":[]},{"id":"4a40082f.95b6e8","type":"inject","z":"940eb5b4.7e2ae8","name":"trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":70,"y":1860,"wires":[[]]},{"id":"8b638c2d.12b98","type":"function","z":"940eb5b4.7e2ae8","name":"sample raw project payload","func":"\nmsg.payload = {\n   \"method\": \"post\",\n   \"request\": \"register\",\n   \"admin\": true,\n   \"contacts\":{\n      \"website\":\"cryptocracy.io\",\n      \"phone\":\"888-747-1337\",\n      \"email\":\"admin@cryptocracy.io\"\n   },\n   \"childof\":\"\",\n   \"bitcoin\":{\n      \"goal\":\"2.34\",\n      \"address\":\"1LhbrBMnicrPYAouVyNTcSFBQjDrZBQ18G\"\n   },\n   \"coordinates\":{\n      \"latitude\":\"45.4210968\",\n      \"longitude\":\"-122.6645186\"\n   },\n   \"children\":{\n\n   },\n   \"project\":{\n      \"category\":\"Road Repair: Contract\",\n      \"type\":\"contract\",\n      \"detail\":\"We need to fix the pot hole on 1st street\",\n      \"title\":\"fix_pothole_on_1st_st\"\n   },\n   \"image\":{\n      \"url\":\"https://raw.githubusercontent.com/cryptocracy/images/master/sample_pothole.jpg\"\n   },\n   \"v\":\"1.0.1\",\n   \"id\":\"pr01-11179xmacdklazzj2vfyvd90\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1860,"wires":[["247d9c02.e62e14"]]},{"id":"58d4f0b8.7c881","type":"catch","z":"940eb5b4.7e2ae8","name":"Error catch for Temp Zonefile Write","scope":["c5756932.0a28d8"],"x":4238.274669647217,"y":3016.9868535995483,"wires":[["8ceb5115.c03c4"]]},{"id":"8ceb5115.c03c4","type":"debug","z":"940eb5b4.7e2ae8","name":"debugger upon writing file","active":true,"console":"false","complete":"payload","x":4526.690036773682,"y":3017.3128690719604,"wires":[]},{"id":"be1b5037.1dbd","type":"debug","z":"940eb5b4.7e2ae8","name":"debug write to file","active":true,"console":"false","complete":"true","x":1530,"y":1660,"wires":[]},{"id":"f8e2136.b9457f","type":"comment","z":"940eb5b4.7e2ae8","name":"sample zonefile as .txt","info":"$ORIGIN pr01-3d279xmacdklazzj2vfyvd90.id\n$TTL 3600\npubkey IN TXT \"pubkey:data:03c26d191fefde31d8ab57730c69318f2e9febdd77f35ad90d254c9502622aa051\"\nproject IN TXT \"{'contacts': {'website': 'cryptocracy.io', 'phone': '888-747-1337', 'email': 'admin@cryptocracy.io'}, 'childof': '', 'bitcoin': {'goal': '1.23', 'address': '1LhbrBMnicrPYAouVyNTcSFBQjDrZBQ18G'}, 'coordinates': {'latitude': '45.4210968', 'longitude': '-122.6645186'}, 'children': {}, 'project': {'category': 'Road Repair: Contract', 'type': 'contract', 'detail': 'We need to fix the pot hole on 1st street', 'title': 'fix_pothole_on_1st_st'}, 'image': {'url': 'https://github.com/cryptocracy/images/blob/master/sample_pothole.jpg'}, 'v': '1.0.1', 'id': 'pr01-3d279xmacdklazzj2vfyvd90.id'}\"\n_file IN URI 10 1 \"file:///home/tyg/.blockstack/storage-disk/mutable/pr01-3d279xmacdklazzj2vfyvd90.id\"","x":4714.945728302002,"y":3110.966299533844,"wires":[]},{"id":"a8bc2bd6.e99668","type":"function","z":"940eb5b4.7e2ae8","name":"construct the zonefile as .txt","func":"var projectid = msg.topic;\nvar raw1 = msg.payload;\n\n//replace double quotes with single quotes\nvar zstring = raw1.replace(/\"/g, \"'\");\n\n//construct lines for file\nvar line1 = \"$ORIGIN \" + projectid + \"\\n\";\nvar line2 = \"$TTL 1200 \\n\";\nvar line3 = \"project IN TXT \" + '\\\"' + zstring + '\\\"';\n\nvar savetozone = line1 + line2 + line3;\n\nmsg.payload = savetozone;\nreturn msg;","outputs":1,"noerr":0,"x":4385.666881561279,"y":3079.596715927124,"wires":[["c5756932.0a28d8"]]},{"id":"5069e239.09c5fc","type":"json","z":"940eb5b4.7e2ae8","name":"","x":4235.529178619385,"y":3133.8040227890015,"wires":[["13875037.3754d","a8bc2bd6.e99668"]]},{"id":"13875037.3754d","type":"debug","z":"940eb5b4.7e2ae8","name":"zone file as json","active":true,"console":"false","complete":"payload","x":4432.698619842529,"y":3121.281198501587,"wires":[]},{"id":"e078beaf.2d45a","type":"comment","z":"940eb5b4.7e2ae8","name":"sample zonefile as .json","info":"{\n  \"$origin\": \"naval.id\",\n  \"$ttl\": 3600,\n  \"uri\": [\n    {\n      \"name\": \"_http._tcp\",\n      \"priority\": 10,\n      \"weight\": 1,\n      \"target\": \"https://mq9.s3.amazonaws.com/naval.id/profile.json\"\n    }\n  ]\n}","x":1880,"y":1620,"wires":[]},{"id":"fee95d3b.fadba","type":"file","z":"940eb5b4.7e2ae8","name":"Save to /home/temp/temp_zonefile.json","filename":"/home/temp/temp_zonefile.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1600,"y":1620,"wires":[]},{"id":"1f47662d.8ca12a","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"set","name":"Set test","topic":"","x":3798.274669647217,"y":3136.9868535995483,"wires":[["3c141307.8e1adc"]]},{"id":"3c141307.8e1adc","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":3951.4252433776855,"y":3134.997961997986,"wires":[]},{"id":"875bc7eb.4316d8","type":"function","z":"940eb5b4.7e2ae8","name":"define the command structure","func":"msg.payload = ['foo2', 'bar2'];\nreturn msg;","outputs":1,"noerr":0,"x":3584.1395988464355,"y":3137.414282798767,"wires":[["1f47662d.8ca12a"]]},{"id":"883b316d.5811b","type":"comment","z":"940eb5b4.7e2ae8","name":"get deposit done","info":"","x":2032.7627410888672,"y":118.0238037109375,"wires":[]},{"id":"aa59a02f.2ae488","type":"comment","z":"940eb5b4.7e2ae8","name":"get balance done","info":"","x":2043.1459321975708,"y":175.7332787513733,"wires":[]},{"id":"45cc8550.749b2c","type":"comment","z":"940eb5b4.7e2ae8","name":"get owned done","info":"","x":2030.8315887451172,"y":276.9210205078125,"wires":[]},{"id":"327557f7.77bcf","type":"comment","z":"940eb5b4.7e2ae8","name":"get whois done","info":"","x":2060,"y":420,"wires":[]},{"id":"701ff09f.faa898","type":"comment","z":"940eb5b4.7e2ae8","name":"get price (almost)","info":"This end point will likely need updated \nbecause it has the \".id\" property being parsed \nwhich might get updated in the client call\nonce new namespace is utilized","x":2029.4482879638672,"y":225.6710205078125,"wires":[]},{"id":"e7634a0c.7932c8","type":"comment","z":"940eb5b4.7e2ae8","name":"get lookup (needs TLC)","info":"This end point will likely need updated \nbecause it has the \".id\" property being parsed \nwhich might get updated in the client call\nonce new namespace is utilized\n\nas well as likey needs to be replaced with 'get_name_zonefile' instead","x":2379.081588745117,"y":328.1710205078125,"wires":[]},{"id":"496e3151.f87e7","type":"comment","z":"940eb5b4.7e2ae8","name":"get search by proximity info (needs TLC)","info":"This is the query end point for GETTING \nsearch results based on parameters\n\n\nredis look up by georadius example:\nGEORADIUS projects -0.11759 51.50574 10 mi WITHDIST ASC\n\n","x":1960,"y":500,"wires":[]},{"id":"3763cd4b.71ec1a","type":"comment","z":"940eb5b4.7e2ae8","name":"get reviews (needs TLC)","info":"This is the end point to get the reviews of a given project\n","x":910,"y":460,"wires":[]},{"id":"3142393e.e79496","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"rpush","name":"RPUSH","topic":"","x":4478.274669647217,"y":2856.9868535995483,"wires":[[]]},{"id":"72830775.052638","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hmset","name":"HMSET projects details to project ID","topic":"","x":4568.274669647217,"y":2896.9868535995483,"wires":[[]]},{"id":"491378a1.255408","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"geoadd","name":"proximity cache","topic":"","x":1440,"y":1920,"wires":[["a5dc3bdb.15d938"]]},{"id":"254c9bf9.a547b4","type":"comment","z":"940eb5b4.7e2ae8","name":"notes about proximity cache specifically","info":"name (id) and latitude and longitude parts of it to saved via GEOADD command, storing the name (id) against the redis geospatial index.\n\nstill debating if needing:\nname (id) is added to a main projects list, possibly via a RPUSH command, storing the name against the projectlist key\nname (id) and its respective fields are pushed also into HMSET command, storing the fields and values against the project name (id) as its key.\n","x":1510.0000495910645,"y":1885.0000267028809,"wires":[]},{"id":"33485fd8.d11d4","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc (NEEDS TLC)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":4238.274669647217,"y":2856.9868535995483,"wires":[["3142393e.e79496"]]},{"id":"2e586f11.6c703","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc (NEEDS TLC)","func":"//bind project core vars\nvar key = msg.payload.id; // bind the project id to the 'key' parameter for redis HMSET cmd\n\nvar vers_field_label = \"v\"; // bind the project version field label to 'v'\nvar vers_field_value = msg.payload.v; //bind version from input to output\n\nvar id_field_label = \"id\"; // define field label as 'id'\nvar id_field_value = msg.payload.id; // bind the project id value to the field value of id\n\nvar project_type_field_label = 'type'; // define field label as 'type'\nvar project_type_field_value = msg.payload.project.type; //bind project type \n\nvar project_category_field_label = 'category'; // define field label as 'category'\nvar project_category_field_value = msg.payload.project.category; //bind project category\n\nvar project_title_field_label = 'title'; //define field label as 'title'\nvar project_title_field_value = msg.payload.project.title; //bind project title\n\nvar project_detail_field_label = 'detail'; //define field label as 'detail'\nvar project_detail_field_value = msg.payload.project.detail; //bind project detail \n\nvar btc_address_field_label = 'address'; // define field label as 'address'\nvar btc_address_field_value = msg.payload.bitcoin.address; // bind project address\nvar btc_goal_field_label = 'goal'; // define field label as 'goal'\nvar btc_goal_field_value = msg.payload.bitcoin.goal; // bind project goal\n\nvar location_latitude_field_label = 'latitude'; // define field label as 'latitude'\nvar location_latitude_field_value = msg.payload.coordinates.latitude; // bind project latitude\nvar location_longitude_field_label = 'longitude'; // define field label as 'longitude'\nvar location_longitude_field_value = msg.payload.coordinates.longitude; // bind project longitude\n\nvar image_path_field_label = 'imageurl'; // define field label as 'imageurl`\nvar image_path_field_value = msg.payload.image.url; // bind project image url\n\n//bind contact vars\nvar contact_phone_field_label = 'phone';\nvar contact_phone_field_value = msg.payload.contact.phone;\nvar contact_email_field_label = 'email';\nvar contact_email_field_value = msg.payload.contact.email;\nvar contact_website_field_label = 'website';\nvar contact_website_field_value = msg.payload.contact.website;\n\n//bind lineage vars\nvar parent_project_field_label = 'childof';\nvar parent_project_field_value = msg.payload.childof;\nvar child_projects_field_label = 'children';\nvar child_projects_field_value = msg.payload.children;\n\n//WARNING THIS NEEDS CONSTRUCTED STILL WITH THE all vars into the array for saving to redis\nmsg.payload = [key + ' ' + id_field_label + ' ' + id_field_value];\nreturn msg;","outputs":1,"noerr":0,"x":4238.274669647217,"y":2896.9868535995483,"wires":[["72830775.052638"]]},{"id":"939b681e.af9248","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc for GEOADD","func":"//bind  your variables from your decoded payload to your projectzone file\n\nvar project_id = msg.payload.id; //bind project id - this is corrisponding blockstack name\n\n//bind location vars\nvar longitude = msg.payload.coordinates.longitude;\nvar latitude = msg.payload.coordinates.latitude;\n\n//Valid longitudes are from -180 to 180 degrees.\n//Valid latitudes are from -85.05112878 to 85.05112878 degrees.\n//The command will report an error when the user attempts to index coordinates outside the specified ranges.\n\n//bind the payload vars in order to set them into the projects redis key\nmsg.payload = ['projects', longitude, latitude, project_id];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":1920,"wires":[["491378a1.255408"]]},{"id":"51e257af.d4e378","type":"comment","z":"940eb5b4.7e2ae8","name":"notes about posting projects","info":"upon post received\njwt is rebound to the proper property\nthen the call is digested by to decrypte the jwt encoded payload\nthen gets passed through the router depending on the request type property\n\nif request type is posting a new project \nit is written first to a tempzonefile.json file\nthen that file is used in the registration call as a parameter eg written to blockstack\n\nthen upon registration completion the new, as well as all other projects are to be cached via periodic lookup\nthey are cached into the various redis keys, eg the projectlist key for a list of all project ids (register names).\neg name (id) is added to a main projects list, possibly via a RPUSH command, storing the name against the projectlist key\neg name (id) and its respective fields are pushed also into HMSET command, storing the fields and values against the project name (id) as its key.\neg name (id) and latitude and longitude parts of it to saved via GEOADD command, storing the name (id) against the redis geospatial index.","x":265,"y":1520,"wires":[]},{"id":"6c9c8ca1.2193b4","type":"comment","z":"940eb5b4.7e2ae8","name":"notes about properties cache specifically","info":"the properties are stored in mysql db\ncolumns are defined\nbut varchar is probably wrong per column still\nneed to finish with qa testing","x":1524.3333015441895,"y":2001.666660308838,"wires":[]},{"id":"a5dc3bdb.15d938","type":"debug","z":"940eb5b4.7e2ae8","name":"add proximity debugger","active":true,"console":"false","complete":"payload","x":1730,"y":1920,"wires":[]},{"id":"fab1037c.b3562","type":"mysql","z":"940eb5b4.7e2ae8","mydb":"24e75e5a.0d6c82","name":"properties cache","x":1445.9999618530273,"y":1960.0000162124634,"wires":[["71b1c1e1.61413"]]},{"id":"1375aaa2.4dfbc5","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc for INSERT","func":"// this function needs to basically reformat the Project object received to prep it as a MySQL INSERT command \n// sample insert can be found in neighboring node\n// need to rebind the properties of the inbound payload to the correct column for the INSERT\n\nvar project_name = msg.payload.id; // bind the raw id to the _name \nvar namespace = '.id'; // set the name space\nvar project_id = project_name + namespace; //concat the raw id to the namespace\n\nvar project_title = msg.payload.project.title; //bind the title\n\n\n////warning \n/////need to finish rigging up the below properties to the insert statement in the topic and in the payload\n\nvar project_detail = msg.payload.project.detail; //bind project detail \n\nvar project_version = msg.payload.v; //bind version\n\nvar project_type = msg.payload.project.type; //bind project type \nvar project_category = msg.payload.project.category; //bind project category\n\nvar btc_address = msg.payload.bitcoin.address; // bind project bitcoin address\nvar btc_goal = parseFloat(msg.payload.bitcoin.goal); // bind project goal\n\nvar project_latitude = parseFloat(msg.payload.coordinates.latitude); // bind project latitude\nvar project_longitude = parseFloat(msg.payload.coordinates.longitude); // bind project longitude\n\nvar project_image = msg.payload.image.url;\n\n//bind contact vars\nvar project_phone = msg.payload.contacts.phone;\nvar project_email = msg.payload.contacts.email;\nvar project_website = msg.payload.contacts.website;\n\n//bind lineage vars\nvar project_childof = \"none\"; //msg.payload.childof;\nvar project_children = \"none\"; //msg.payload.children;\n\n//define the SQL statement with variable values defined by the payload \nmsg.topic = \"INSERT INTO projects (id, title, detail, version, type, category, btcaddress, btcgoal, latitude, longitude, image, phone, email, website, childof, children) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)\";\n//which are bound to the inbound properties per previous bindings\nmsg.payload = [project_id, project_title, project_detail, project_version, project_type, project_category, btc_address, btc_goal, project_latitude, project_longitude, project_image, project_phone, project_email, project_website, project_childof, project_children];\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1190,"y":1960,"wires":[["fab1037c.b3562"]]},{"id":"5f8d4d95.01bd84","type":"function","z":"940eb5b4.7e2ae8","name":"sample INSERT Bind","func":"//this is a sample for reference\n\nmsg.topic = \"INSERT INTO projects (id,title) VALUES (?,?)\";\nmsg.payload = [2, \"This is another test\"];\nreturn msg;","outputs":1,"noerr":0,"x":3948.274669647217,"y":3056.9868535995483,"wires":[[]]},{"id":"5ffbb233.e76dac","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":1170,"y":1700,"wires":[]},{"id":"1ded9afd.58df85","type":"comment","z":"940eb5b4.7e2ae8","name":"this is likely needing to be updated","info":"I believe that lookup might \nnot be the best command to get the zone file\nthat represents the project\n\nbut rather instead use 'get_name_zonefile'","x":1279.0815887451172,"y":368.1710205078125,"wires":[]},{"id":"463bdf9c.c8e0c8","type":"debug","z":"940eb5b4.7e2ae8","name":"pass to blockstack debug B","active":true,"console":"false","complete":"payload","x":1940,"y":1720,"wires":[]},{"id":"a132fc2.08b19","type":"debug","z":"940eb5b4.7e2ae8","name":"pass to blockstack debug C","active":true,"console":"false","complete":"payload","x":1940,"y":1800,"wires":[]},{"id":"aa8ee1e8.90461","type":"function","z":"940eb5b4.7e2ae8","name":"extract zonefile v2","func":"var zfile = msg.payload.zonefile;\n\nmsg.payload = zfile;\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":328,"wires":[["3a6eb1b1.aff7be","69e144bf.b66a8c"]]},{"id":"e2de7a94.42bd18","type":"function","z":"940eb5b4.7e2ae8","name":"if proximity","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":500,"wires":[["81110046.2a3a8","82405a3e.70fe38"]]},{"id":"8867ab26.c768e8","type":"mysql","z":"940eb5b4.7e2ae8","mydb":"24e75e5a.0d6c82","name":"properties cache","x":1930,"y":660,"wires":[["57316f1b.11745","4782ae7c.4d306"]]},{"id":"483f4073.662a8","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"georadius","name":"proximity cache","topic":"","x":1860,"y":540,"wires":[["dea87331.303ca","a81bdf00.e0bc"]]},{"id":"81110046.2a3a8","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc for GEORADIUS","func":"\n//bind location parameters\nvar longitude = msg.payload.longitude;\nvar latitude = msg.payload.latitude;\n//Valid longitudes are from -180 to 180 degrees.\n//Valid latitudes are from -85.05112878 to 85.05112878 degrees.\n\n\n//bind distance parameters\nvar distance = parseInt(msg.payload.distance);\n\nvar unittype = msg.payload.unittype;\n//    m for meters.\n//    km for kilometers.\n//    mi for miles.\n//    ft for feet.\n\n//bind the payload properties in the output to use them as them for redis GEORADIUS query\nmsg.payload = ['projects', longitude, latitude, distance, unittype, 'WITHDIST', 'ASC'];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1610,"y":540,"wires":[["483f4073.662a8","c850e8a0.49de"]]},{"id":"4f5b8cf4.9e818c","type":"inject","z":"940eb5b4.7e2ae8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":490,"y":540,"wires":[["46fb8df6.e864b4"]]},{"id":"46fb8df6.e864b4","type":"function","z":"940eb5b4.7e2ae8","name":"sample raw query to search by proximity","func":"var ogmsg = msg.payload;\nvar x = -123.3777907;\nvar y = 42.9313444;\nvar d = 200;\nvar u = 'km';\n\nmsg.payload.longitude = x;\nmsg.payload.latitude = y;\n\nmsg.payload.distance = d;\nmsg.payload.unittype = u;\nmsg.payload = ogmsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":540,"wires":[["81110046.2a3a8"]]},{"id":"c850e8a0.49de","type":"debug","z":"940eb5b4.7e2ae8","name":"search by proximity debug 2","active":true,"console":"false","complete":"payload","x":1860,"y":580,"wires":[]},{"id":"dea87331.303ca","type":"debug","z":"940eb5b4.7e2ae8","name":"search by proximity debug 3","active":true,"console":"false","complete":"payload","x":2200,"y":580,"wires":[]},{"id":"a81bdf00.e0bc","type":"http response","z":"940eb5b4.7e2ae8","name":"","statusCode":"","headers":{},"x":2090,"y":540,"wires":[]},{"id":"82405a3e.70fe38","type":"debug","z":"940eb5b4.7e2ae8","name":"search by proximity debug 1","active":true,"console":"false","complete":"payload","x":1620,"y":500,"wires":[]},{"id":"f4a9eb36.09e838","type":"switch","z":"940eb5b4.7e2ae8","name":"if search","property":"payload.search","propertyType":"msg","rules":[{"t":"regex","v":"proximity","vt":"str","case":false},{"t":"regex","v":"properties","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":3,"x":1201.0000762939453,"y":512.9999885559082,"wires":[["e2de7a94.42bd18"],["e31b9346.e32f5"],["51a15424.690dbc"]]},{"id":"e31b9346.e32f5","type":"function","z":"940eb5b4.7e2ae8","name":"if properties","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":580,"wires":[["7e476a6e.610a84","a197bf67.b83e7"]]},{"id":"faff56b8.dfd668","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc for SELECT (alpha)","func":"// this function needs to basically reformat the Search by Properties request received to prep it as a MySQL SELECT command \n// sample SELECT can be found in neighboring node\n// need to rebind the properties of the inbound payload to the correct column for the SELECT\n\nvar project_title = msg.payload.title; //bind the title\nvar project_detail = msg.payload.detail; //bind the detail \n\nvar project_type = msg.payload.type; //bind the type \nvar project_category = msg.payload.category; //bind the category\n\nvar project_latitude = parseFloat(msg.payload.latitude); // bind the latitude\nvar project_longitude = parseFloat(msg.payload.longitude); // bind the longitude\n\nvar project_phone = msg.payload.phone;\nvar project_email = msg.payload.email;\nvar project_website = msg.payload.website;\n\nvar btc_address = msg.payload.address; // bind project bitcoin address\nvar btc_goal = parseFloat(msg.payload.goal); // bind project goal\n\n\n//bind lineage vars\n//var project_childof = \"none\"; //msg.payload.childof;\n//var project_children = \"none\"; //msg.payload.children;\n\n//define the SQL statement with column variable values defined by the topic \nmsg.topic = \"SELECT * FROM projects (title, detail, type, category, btcaddress, btcgoal, latitude, longitude, phone, email, website) VALUES (?,?,?,?,?,?,?,?,?,?,?)\";\n\n//and the corrisponding field values are bound to the inbound properties per previous bindings\nmsg.payload = [project_title, project_detail, project_type, project_category, btc_address, btc_goal, project_latitude, project_longitude, project_phone, project_email, project_website];\n\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":700,"wires":[[]]},{"id":"57316f1b.11745","type":"http response","z":"940eb5b4.7e2ae8","name":"","statusCode":"","headers":{},"x":2150,"y":660,"wires":[]},{"id":"51a15424.690dbc","type":"function","z":"940eb5b4.7e2ae8","name":"if error","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":580,"wires":[["924adefa.e848d"]]},{"id":"924adefa.e848d","type":"http response","z":"940eb5b4.7e2ae8","name":"","statusCode":"","headers":{},"x":1190,"y":620,"wires":[]},{"id":"71b1c1e1.61413","type":"debug","z":"940eb5b4.7e2ae8","name":"add properties debugger","active":true,"console":"false","complete":"payload","x":1725.9999618530273,"y":1960.0000162124634,"wires":[]},{"id":"ce15c376.6b854","type":"function","z":"940eb5b4.7e2ae8","name":"sample raw query to search by properties","func":"var ogmsg = msg.payload;\n\nvar x = -123.3777907;\nvar y = 42.9313444;\n\nvar category = '';\nvar type = '';\n\nvar title = 'Fix';\nvar detail = ''\n\nvar phone = '';\nvar email = '';\nvar website = '';\n\nvar address = '';\nvar goal = '';\n\n\n// bind the variables to the output properties to simulate the inbound query parameters\n\nmsg.longitude = x;\nmsg.latitude = y;\n\nmsg.category = category;\nmsg.type = type;\n\nmsg.title = title;\nmsg.detail = detail;\n\nmsg.phone = phone;\nmsg.email = email;\nmsg.website = website;\n\nmsg.address = address;\nmsg.goal = goal;\n\nmsg.payload = ogmsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":4100,"y":800,"wires":[["5955caac.1ba1b4"]]},{"id":"660f6201.11311c","type":"comment","z":"940eb5b4.7e2ae8","name":"get search by properties info (needs TLC)","info":"You can use the AND or OR operators, depending on what you want the search to return.\n\nALL conditions - eg all clauses have to match for a record to be returned. \nSELECT * FROM projects WHERE title LIKE %param1% AND category LIKE %param2% AND type LIKE %param3% AND detail LIKE %param4% AND phone LIKE %param5% AND email LIKE %param6% AND website LIKE %param7% AND btcaddress LIKE %param8% AND btcgoal LIKE %param9%;\n\n\nANY conditions - eg any clause that matches, record(s) will be returned.\nSELECT * FROM projects WHERE title LIKE %param1% OR category LIKE %param2% OR type LIKE %param3% OR detail LIKE %param4% OR phone LIKE %param5% OR email LIKE %param6% OR website LIKE %param7% OR btcaddress LIKE %param8% OR btcgoal LIKE %param9%;\n","x":1940,"y":800,"wires":[]},{"id":"4782ae7c.4d306","type":"debug","z":"940eb5b4.7e2ae8","name":"search by properties debugger ","active":true,"console":"false","complete":"payload","x":2230,"y":720,"wires":[]},{"id":"31efbbfd.bdad44","type":"debug","z":"940eb5b4.7e2ae8","name":"search by properties debug 2","active":true,"console":"false","complete":"payload","x":1900,"y":720,"wires":[]},{"id":"7e476a6e.610a84","type":"debug","z":"940eb5b4.7e2ae8","name":"search by properties debug 1","active":true,"console":"false","complete":"payload","x":1620,"y":620,"wires":[]},{"id":"6ec9b251.e6670c","type":"function","z":"940eb5b4.7e2ae8","name":"testing sql query","func":"// this function needs to basically reformat the Search by Properties request received to prep it as a MySQL SELECT command \n// sample SELECT can be found in neighboring node\n// need to rebind the properties of the inbound payload to the correct column for the SELECT\nvar project_id = msg.payload.name;\n\nvar project_title = msg.payload.title; //bind the title\nvar project_detail = msg.payload.detail; //bind the detail \n\nvar project_type = msg.payload.type; //bind the type \nvar project_category = msg.payload.category; //bind the category\n\nvar project_latitude = parseFloat(msg.payload.latitude); // bind the latitude\nvar project_longitude = parseFloat(msg.payload.longitude); // bind the longitude\n\nvar project_phone = msg.payload.phone;\nvar project_email = msg.payload.email;\nvar project_website = msg.payload.website;\n\nvar btc_address = msg.payload.address; // bind project bitcoin address\nvar btc_goal = parseFloat(msg.payload.goal); // bind project goal\n\n\n//bind lineage vars\n//var project_childof = \"none\"; //msg.payload.childof;\n//var project_children = \"none\"; //msg.payload.children;\n\n//define the SQL statement with column variable values defined by the topic \nmsg.topic = \"SELECT * FROM projects (id, title, detail, type, category, btcaddress, btcgoal, latitude, longitude, phone, email, website) VALUES (?,?,?,?,?,?,?,?,?,?,?)\";\n\n//and the corrisponding field values are bound to the inbound properties per previous bindings\nmsg.payload = [project_id, project_title, project_detail, project_type, project_category, btc_address, btc_goal, project_latitude, project_longitude, project_phone, project_email, project_website];\n\nreturn msg;","outputs":1,"noerr":0,"x":4180,"y":840,"wires":[[]]},{"id":"5955caac.1ba1b4","type":"debug","z":"940eb5b4.7e2ae8","name":"sample mysql select query debug 1","active":true,"console":"false","complete":"true","x":4460,"y":800,"wires":[]},{"id":"fc914e2c.16ea88","type":"function","z":"940eb5b4.7e2ae8","name":"test query a","func":"var type = \"Donation\"; //msg.payload.type\nvar category = \"Roads\"; //msg.payload.category\n\nvar keyword = \"the\";\n//var title = \"Fix\"; //msg.payload.title\n//var detail = \"sample\"; //msg.payload.detail\n\nvar phone = \"\"; //msg.payload.phone\nvar email = \"\"; //msg.payload.email\nvar website = \"\"; //msg.payload.website\n\nvar address = \"\"; //msg.payload.address\n\nmsg.topic = \"SELECT * FROM projects WHERE type LIKE '%\" + type + \"%' \" + \"AND category LIKE '%\" + category + \"%' \" + \"AND title LIKE '%\" + keyword + \"%' \" + \"OR detail LIKE '%\" + keyword + \"%' \";\n\nmsg.payload = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":4190,"y":880,"wires":[[]]},{"id":"2db814ad.0adbec","type":"function","z":"940eb5b4.7e2ae8","name":"test query b ","func":"// 2 constant parameters\nvar type = \"Donation\"; //msg.type  - required\nvar category = \"Roads\"; //msg.category  - required\n\n// 5 optional parameters\nvar keyword = null;  // msg.keywords - required \nvar phone = null; //msg.phone\nvar email = null; //msg.email\nvar website = null; //msg.website\nvar address = null; //msg.address\n\n\n// searching by the constant parameters ONLY\nif (keyword === null && phone === null && email === null && website === null && address === null) {\n        msg.payload = 0;\n        msg.topic = \"SELECT * FROM projects WHERE type LIKE '%\" + type + \"%' \" + \"AND category LIKE '%\" + category + \"%' \";\n        return msg;\n}\n\n// searching by constant parameters and WITH just keyword also - other searchable parameters were not provided\nif (keyword !== null && phone === null && email === null && website === null && address === null) {\n        msg.payload = 1;\n        msg.topic = \"SELECT * FROM projects WHERE type LIKE '%\" + type + \"%' \" + \"AND category LIKE '%\" + category + \"%' \" + \"AND title LIKE '%\" + keyword + \"%' \" + \"AND detail LIKE '%\" + keyword + \"%' \";\n        return msg;\n}\n\n// searching by constant parameters and WITH just phone number also - other searchable parameters were not provided\nif (keyword === null && phone !== null && email === null && website === null && address === null) {\n        msg.payload = 2;\n        msg.topic = \"SELECT * FROM projects WHERE type LIKE '%\" + type + \"%' \" + \"AND category LIKE '%\" + category + \"%' \" + \"AND phone LIKE '%\" + phone + \"%' \";\n        return msg;\n}\n\n// searching by require parameters and WITH just email also - other searchable parameters were not provided\nif (keyword === null && phone === null && email !== null && website === null && address === null) {\n        msg.payload = 3;\n        msg.topic = \"SELECT * FROM projects WHERE type LIKE '%\" + type + \"%' \" + \"AND category LIKE '%\" + category + \"%' \" + \"AND email LIKE '%\" + email + \"%' \";\n        return msg;\n}\n\n// searching by require parameters and WITH just website also - other searchable parameters were not provided\nif (keyword === null && phone === null && email === null && website !== null && address === null) {\n        msg.payload = 4;\n        msg.topic = \"SELECT * FROM projects WHERE type LIKE '%\" + type + \"%' \" + \"AND category LIKE '%\" + category + \"%' \" + \"AND website LIKE '%\" + website + \"%' \";\n        return msg;\n}\n\n// searching by require parameters and WITH just address also - other searchable parameters were not provided\nif (keyword === null && phone === null && email === null && website === null && address !== null) {\n        msg.payload = 5;\n        msg.topic = \"SELECT * FROM projects WHERE type LIKE '%\" + type + \"%' \" + \"AND category LIKE '%\" + category + \"%' \" + \"AND address LIKE '%\" + address + \"%' \";\n        return msg;\n}\n\n\nmsg.payload.test = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":4190,"y":920,"wires":[[]]},{"id":"c7fb2b9d.2bc648","type":"function","z":"940eb5b4.7e2ae8","name":"test c","func":"// 2 required parameters provided by input\nvar type = \"Donation\"; //msg.payload.type  - required\nvar category = \"Roads\"; //msg.payload.category  - required\n\n// 5 optional parameters provided by input\nvar phone = null; //msg.payload.phone\nvar email = null; //msg.payload.email\nvar website = null; //msg.payload.website\nvar address = \"31owGBFX5piwekStgsKxohpQV6UwGgTPbp\"; //msg.payload.address\nvar keyword = null;  // msg.payload.keywords - required \n\n//operator and trailing space, trailing space needed!\nvar opp = \"AND \";\n\n// mysql query constructive elements\nvar start = \" '%\"; \nvar end = \"%' \"; \n\nvar q_type = \"type LIKE\";\nvar q_category = \"category LIKE\";\n\nvar q_phone = \"phone LIKE\";\nvar q_email = \"email LIKE\";\nvar q_website = \"website LIKE\";\nvar q_address = \"btcaddress LIKE\";\n\n\n//variable to minimize repeating the same preamble, the core base query\n//var XQL = \"SELECT * FROM projects WHERE type LIKE '%\" + type + \"%' \" + \"AND category LIKE '%\" + category + \"%' \";\nvar XQL = \"SELECT * FROM projects WHERE \" + q_type + start + type + end + opp + q_category + start + category + end;\n\n\n// searching by the constant parameters ONLY\nif (keyword === null && phone === null && email === null && website === null && address === null) {\n        msg.payload = 0;\n        msg.topic = XQL;\n        return msg;\n}\n\n// searching by constant parameters and WITH just phone number also - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website === null && address === null) {\n        msg.payload = 1;\n        msg.topic = XQL + opp + q_phone + start + phone + end;\n        return msg;\n}\n\n// searching by require parameters and WITH just email also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website === null && address === null) {\n        msg.payload = 2;\n        msg.topic = XQL + opp + q_email + start + email + end;\n        return msg;\n}\n\n// searching by require parameters and WITH just website also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email === null && website !== null && address === null) {\n        msg.payload = 3;\n        msg.topic = XQL + opp + q_website + start + website + end;\n        return msg;\n}\n\n// searching by require parameters and WITH just address also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email === null && website === null && address !== null) {\n        msg.payload = 4;\n        msg.topic = XQL + opp + q_address + start + address + end;\n        return msg;\n}\n\n// searching by constant parameters and WITH just keyword also - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website === null && address === null) {\n        msg.payload = 5;\n        msg.topic = XQL + opp + \"title LIKE '%\" + keyword + \"%' \" + \"OR detail LIKE '%\" + keyword + \"%' \";\n        return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":4210,"y":960,"wires":[[]]},{"id":"b39f39d4.3f2a88","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"payload","x":4390,"y":1000,"wires":[]},{"id":"a68b763.2074688","type":"function","z":"940eb5b4.7e2ae8","name":"test d (latest)","func":"// 2 required parameters provided by input\nvar type = \"Donation\"; //msg.payload.type  - required\nvar category = \"Roads\"; //msg.payload.category  - required\n\n// 5 optional parameters provided by input\nvar phone = \"8887471337\"; //msg.payload.phone\nvar email = null; //msg.payload.email\nvar website = null; //msg.payload.website\nvar address = \"31owGBFX5piwekStgsKxohpQV6UwGgTPbp\"; //msg.payload.address\nvar keyword = null;  // msg.payload.keywords - required \n\n\n\n// sql constructor elements\nvar opa = \"AND \"; // do not forget the trailing spaces here, else it breaks the operation\nvar opo = \"OR \";\nvar start = \" '%\"; \nvar end = \"%' \"; \n\nvar q_title = \"title LIKE\";\nvar q_detail = \"detail LIKE\";\n\nvar q_type = \"type LIKE\";\nvar q_category = \"category LIKE\";\nvar q_phone = \"phone LIKE\";\nvar q_email = \"email LIKE\";\nvar q_website = \"website LIKE\";\nvar q_address = \"btcaddress LIKE\";\n\n\n//variable to minimize repeating the same preamble, the core base query\nvar XQL = \"SELECT * FROM projects WHERE \" + q_type + start + type + end + opa + q_category + start + category + end;\n\n// searching by the required parameters ONLY\nif (keyword === null && phone === null && email === null && website === null && address === null) {\n        msg.payload = 0;\n        msg.topic = XQL;\n        return msg;\n}\n\n// searching by required parameters and WITH just keyword also - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website === null && address === null) {\n        msg.payload = 1;\n        msg.topic = XQL + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just address also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email === null && website === null && address !== null) {\n        msg.payload = 2;\n        msg.topic = XQL + opa + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH keyword and address - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website === null && address !== null) {\n        msg.payload = 3;\n        msg.topic = XQL + opa + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just website also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email === null && website !== null && address === null) {\n        msg.payload = 4;\n        msg.topic = XQL + opa + q_website + start + website + end;\n        return msg;\n}\n\n// searching by required parameters and WITH website and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website !== null && address === null) {\n        msg.payload = 5;\n        msg.topic = XQL + opa + q_website + start + website + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just website or address - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email === null && website !== null && address !== null) {\n        msg.payload = 6;\n        msg.topic = XQL + opa + q_website + start + website + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just website or address and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website !== null && address !== null) {\n        msg.payload = 7;\n        msg.topic = XQL + opa + q_website + start + website + end + opo + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website === null && address === null) {\n        msg.payload = 8;\n        msg.topic = XQL + opa + q_email + start + email + end;\n        return msg;\n}\n\n// searching by required parameters and WITH email and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email !== null && website === null && address === null) {\n        msg.payload = 9;\n        msg.topic = XQL + opa + q_email + start + email + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or address - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website === null && address !== null) {\n        msg.payload = 10;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or address and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email !== null && website === null && address !== null) {\n        msg.payload = 11;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or website - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website !== null && address === null) {\n        msg.payload = 12;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_website + start + website + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or website and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email !== null && website !== null && address === null) {\n        msg.payload = 13;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_website + start + website + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or website or address - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website !== null && address !== null) {\n        msg.payload = 14;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_website + start + website + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email and website and address and or keyword - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone === null && email !== null && website !== null && address !== null) {\n        msg.payload = 15;\n        msg.topic = XQL + opa + q_email + start + email + end + opa + q_website + start + website + end + opa + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone number also - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website === null && address === null) {\n        msg.payload = 16;\n        msg.topic = XQL + opa + q_phone + start + phone + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone !== null && email === null && website === null && address === null) {\n        msg.payload = 17;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or address - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website === null && address !== null) {\n        msg.payload = 18;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or address and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone !== null && email === null && website === null && address !== null) {\n        msg.payload = 19;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or website - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website !== null && address === null) {\n        msg.payload = 20;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_website + start + website + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or website and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone !== null && email === null && website !== null && address === null) {\n        msg.payload = 21;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_website + start + website + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or website or address - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website !== null && address !== null) {\n        msg.payload = 22;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_website + start + website + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone and website and address and or keyword - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone !== null && email === null && website !== null && address !== null) {\n        msg.payload = 23;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_website + start + website + end + opo + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone or email - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email !== null && website === null && address === null) {\n        msg.payload = 24;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_email + start + email + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone or email and or keyword - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email !== null && website === null && address === null) {\n        msg.payload = 25;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_email + start + email + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone or email or address - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email !== null && website === null && address !== null) {\n        msg.payload = 26;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_email + start + email + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and email and address and or keyword - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone !== null && email !== null && website === null && address !== null) {\n        msg.payload = 27;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_email + start + email + end + opa + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone or email or website - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email !== null && website !== null && address === null) {\n        msg.payload = 28;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_email + start + email + end + opo + q_website + start + website + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and email and website and or keyword - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone !== null && email !== null && website !== null && address === null) {\n        msg.payload = 29;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_email + start + email + end + opa + q_website + start + website + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and email and website and address - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword === null && phone !== null && email !== null && website !== null && address !== null) {\n        msg.payload = 30;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_email + start + email + end + opa + q_website + start + website + end + opa + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and email and website and address and or keyword - eg all searchable parameter were provided\n// note how this is a bit more specific of a query, eg user supply 5 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone !== null && email !== null && website !== null && address !== null) {\n        msg.payload = 31;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_email + start + email + end + opa + q_website + start + website + end + opa + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":4190,"y":1000,"wires":[[]]},{"id":"a197bf67.b83e7","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc for SELECT (beta)","func":"// 2 required parameters provided by input\nvar type = msg.payload.type; // required\nvar category = msg.payload.category; // required\n\n// 5 optional parameters provided by input\nvar phone = msg.payload.phone;\n//var phone = p.toString();\nvar email = msg.payload.email;\nvar website = msg.payload.website;\nvar address = msg.payload.address;\nvar keyword = msg.payload.keyword; \n\n\n\n// sql constructor elements to minimize possiblities of typoes\nvar opa = \"AND \"; // do not forget the trailing spaces here, else it breaks the operation\nvar opo = \"OR \";\nvar start = \" '%\"; \nvar end = \"%' \"; \n\nvar q_title = \"title LIKE\";\nvar q_detail = \"detail LIKE\";\n\nvar q_type = \"type LIKE\";\nvar q_category = \"category LIKE\";\nvar q_phone = \"phone LIKE\";\nvar q_email = \"email LIKE\";\nvar q_website = \"website LIKE\";\nvar q_address = \"btcaddress LIKE\";\n\n\n//variable to minimize repeating the same sql preamble, the core base query\nvar XQL = \"SELECT * FROM projects WHERE \" + q_type + start + type + end + opa + q_category + start + category + end;\n\n// searching by the required parameters ONLY\nif (keyword === null && phone === null && email === null && website === null && address === null) {\n        msg.payload = 0;\n        msg.topic = XQL;\n        return msg;\n}\n\n// searching by required parameters and WITH just keyword also - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website === null && address === null) {\n        msg.payload = 1;\n        msg.topic = XQL + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just address also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email === null && website === null && address !== null) {\n        msg.payload = 2;\n        msg.topic = XQL + opa + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH keyword and address - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website === null && address !== null) {\n        msg.payload = 3;\n        msg.topic = XQL + opa + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just website also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email === null && website !== null && address === null) {\n        msg.payload = 4;\n        msg.topic = XQL + opa + q_website + start + website + end;\n        return msg;\n}\n\n// searching by required parameters and WITH website and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website !== null && address === null) {\n        msg.payload = 5;\n        msg.topic = XQL + opa + q_website + start + website + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just website or address - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email === null && website !== null && address !== null) {\n        msg.payload = 6;\n        msg.topic = XQL + opa + q_website + start + website + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just website or address and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email === null && website !== null && address !== null) {\n        msg.payload = 7;\n        msg.topic = XQL + opa + q_website + start + website + end + opo + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email also - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website === null && address === null) {\n        msg.payload = 8;\n        msg.topic = XQL + opa + q_email + start + email + end;\n        return msg;\n}\n\n// searching by required parameters and WITH email and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email !== null && website === null && address === null) {\n        msg.payload = 9;\n        msg.topic = XQL + opa + q_email + start + email + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or address - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website === null && address !== null) {\n        msg.payload = 10;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or address and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email !== null && website === null && address !== null) {\n        msg.payload = 11;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or website - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website !== null && address === null) {\n        msg.payload = 12;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_website + start + website + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or website and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone === null && email !== null && website !== null && address === null) {\n        msg.payload = 13;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_website + start + website + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email or website or address - other searchable parameters were not provided\nelse if (keyword === null && phone === null && email !== null && website !== null && address !== null) {\n        msg.payload = 14;\n        msg.topic = XQL + opa + q_email + start + email + end + opo + q_website + start + website + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just email and website and address and or keyword - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone === null && email !== null && website !== null && address !== null) {\n        msg.payload = 15;\n        msg.topic = XQL + opa + q_email + start + email + end + opa + q_website + start + website + end + opa + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone number also - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website === null && address === null) {\n        msg.payload = 16;\n        msg.topic = XQL + opa + q_phone + start + phone + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone !== null && email === null && website === null && address === null) {\n        msg.payload = 17;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or address - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website === null && address !== null) {\n        msg.payload = 18;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or address and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone !== null && email === null && website === null && address !== null) {\n        msg.payload = 19;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or website - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website !== null && address === null) {\n        msg.payload = 20;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_website + start + website + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or website and or keyword - other searchable parameters were not provided\nelse if (keyword !== null && phone !== null && email === null && website !== null && address === null) {\n        msg.payload = 21;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_website + start + website + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone or website or address - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email === null && website !== null && address !== null) {\n        msg.payload = 22;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_website + start + website + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH just phone and website and address and or keyword - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone !== null && email === null && website !== null && address !== null) {\n        msg.payload = 23;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_website + start + website + end + opo + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone or email - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email !== null && website === null && address === null) {\n        msg.payload = 24;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_email + start + email + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone or email and or keyword - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email !== null && website === null && address === null) {\n        msg.payload = 25;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_email + start + email + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone or email or address - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email !== null && website === null && address !== null) {\n        msg.payload = 26;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_email + start + email + end + opo + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and email and address and or keyword - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone !== null && email !== null && website === null && address !== null) {\n        msg.payload = 27;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_email + start + email + end + opa + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone or email or website - other searchable parameters were not provided\nelse if (keyword === null && phone !== null && email !== null && website !== null && address === null) {\n        msg.payload = 28;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opo + q_email + start + email + end + opo + q_website + start + website + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and email and website and or keyword - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone !== null && email !== null && website !== null && address === null) {\n        msg.payload = 29;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_email + start + email + end + opa + q_website + start + website + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and email and website and address - other searchable parameter were not provided\n// note how this is a bit more specific of a query, eg user supply 4 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword === null && phone !== null && email !== null && website !== null && address !== null) {\n        msg.payload = 30;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_email + start + email + end + opa + q_website + start + website + end + opa + q_address + start + address + end;\n        return msg;\n}\n\n// searching by required parameters and WITH phone and email and website and address and or keyword - eg all searchable parameter were provided\n// note how this is a bit more specific of a query, eg user supply 5 of 5 optional values, so its a relative safe assumption they mean AND instead of OR\nelse if (keyword !== null && phone !== null && email !== null && website !== null && address !== null) {\n        msg.payload = 31;\n        msg.topic = XQL + opa + q_phone + start + phone + end + opa + q_email + start + email + end + opa + q_website + start + website + end + opa + q_address + start + address + end + opa + q_title + start + keyword + end + opo + q_detail + start + keyword + end;\n        return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":660,"wires":[["8867ab26.c768e8","31efbbfd.bdad44","8e61b084.97cc3"]]},{"id":"8e0e0858.328fb8","type":"debug","z":"940eb5b4.7e2ae8","name":"sql cache debugger","active":true,"console":"false","complete":"payload","x":2010,"y":3160,"wires":[]},{"id":"b6a3b9d4.b5f068","type":"function","z":"940eb5b4.7e2ae8","name":"flush cache before write","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":3360,"wires":[[]]},{"id":"31782fab.a0434","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc for sql","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1773.7628936767578,"y":3198.5571786165237,"wires":[["8e0e0858.328fb8","478eb105.8cd69"]]},{"id":"45f0a8f5.ddd038","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc for redis","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1775.0645141601562,"y":3261.0443807840347,"wires":[["fced1218.cba32","ecc03834.c5b7e8"]]},{"id":"fced1218.cba32","type":"debug","z":"940eb5b4.7e2ae8","name":"redis cache debugger","active":true,"console":"false","complete":"payload","x":2025.0644302368164,"y":3299.7942843437195,"wires":[]},{"id":"ecc03834.c5b7e8","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"geoadd","name":"proximity cache","topic":"","x":2006.25,"y":3261.0441269874573,"wires":[[]]},{"id":"478eb105.8cd69","type":"mysql","z":"940eb5b4.7e2ae8","mydb":"24e75e5a.0d6c82","name":"properties cache","x":2000,"y":3198.543650150299,"wires":[[]]},{"id":"45a421e.50366e","type":"function","z":"940eb5b4.7e2ae8","name":"determine blockdiff","func":"//form length of iteration \n//from comparing latest block number to static genesis block number\nvar latestblock = msg.payload.latest;\nvar genesis = 480703;\n\nvar spread = latestblock - genesis;\n\nmsg.payload = [\"blockdiff\", spread];\nreturn msg;","outputs":1,"noerr":0,"x":3913.4764099121094,"y":3743.9030928611755,"wires":[["793167b9.f86518","a1227d5b.3e938"]]},{"id":"dd9bd89.e201b28","type":"debug","z":"940eb5b4.7e2ae8","name":"set latestblock debugger","active":true,"console":"false","complete":"payload","x":4142.476337432861,"y":3794.9028816223145,"wires":[]},{"id":"6b59e6be.b318c8","type":"http request","z":"940eb5b4.7e2ae8","name":"get from blockchain.info","method":"GET","ret":"txt","url":"https://blockchain.info/q/getblockcount","tls":"","x":3280.0489654541016,"y":3787.0919919013977,"wires":[["bc3a7c93.51436"]]},{"id":"bc3a7c93.51436","type":"function","z":"940eb5b4.7e2ae8","name":"determine latestblock","func":"var latest_block_number = parseInt(msg.payload);\n\nmsg.payload = [\"latestblock\", latest_block_number];\nmsg.payload.latest = latest_block_number;\nreturn msg;","outputs":1,"noerr":0,"x":3580.6038856506348,"y":3794.2615604400635,"wires":[["c935bc51.6b515","dd9bd89.e201b28","45a421e.50366e"]]},{"id":"c935bc51.6b515","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"set","name":"SET latestblock","topic":"","x":3923.4764099121094,"y":3843.9030928611755,"wires":[["dd9bd89.e201b28"]]},{"id":"793167b9.f86518","type":"debug","z":"940eb5b4.7e2ae8","name":"blockdiff debugger","active":true,"console":"false","complete":"payload","x":4210.552574157715,"y":3671.798421382904,"wires":[]},{"id":"9d8c107.91ff1f","type":"comment","z":"940eb5b4.7e2ae8","name":"Ionic App ID","info":"Test app id: d3644d43","x":280,"y":500,"wires":[]},{"id":"78bf08bb.6bfdd8","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"payload[0].name","x":4358.404167175293,"y":4179.803240299225,"wires":[]},{"id":"cf667e5a.efdcb","type":"function","z":"940eb5b4.7e2ae8","name":"get_nameops_at blocknumber","func":"var todo = 'get_nameops_at';\nvar blocknumber = msg.payload;\n\nmsg.payload = todo + ' ' + blocknumber;\n\nreturn msg;","outputs":1,"noerr":0,"x":3736.228946685791,"y":4090.3255496025085,"wires":[["c50f6733.b27ae8"]]},{"id":"c50f6733.b27ae8","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3985.8862915039062,"y":4079.6883730888367,"wires":[["84529228.f8d17"],[],[]]},{"id":"84529228.f8d17","type":"json","z":"940eb5b4.7e2ae8","name":"","pretty":false,"x":4144.129463195801,"y":4065.7456560134888,"wires":[["78bf08bb.6bfdd8","b41a777b.4b7b88"]]},{"id":"a1227d5b.3e938","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"set","name":"SET blockdiff","topic":"","x":4008.995834350586,"y":3651.697527885437,"wires":[["793167b9.f86518"]]},{"id":"e5d89e09.84d29","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"set","name":"SET lastblockcached","topic":"","x":3841.3822174072266,"y":3964.958740234375,"wires":[[]]},{"id":"1978e7ff.d61d38","type":"function","z":"940eb5b4.7e2ae8","name":"simulate caching and increment","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3729.060836791992,"y":3893.3958225250244,"wires":[[]]},{"id":"920dfe48.75137","type":"function","z":"940eb5b4.7e2ae8","name":"determine blockdiff","func":"//form length of iteration \n//from comparing latest block number to static genesis block number\nvar latestblock = msg.payload.latest;\nvar genesis = 480703;\n\nvar spread = latestblock - genesis;\n\nmsg.payload = [\"blockdiff\", spread];\nreturn msg;","outputs":1,"noerr":0,"x":3565.8462524414062,"y":3961.490571498871,"wires":[[]]},{"id":"b41a777b.4b7b88","type":"function","z":"940eb5b4.7e2ae8","name":"iteration needed","func":"//need to create some sort of iteration\n//incase multiple names are revealed in same block\n\nreturn msg;","outputs":1,"noerr":0,"x":4346.4251136779785,"y":4061.1733722686768,"wires":[["78bf08bb.6bfdd8","e43425d7.9ad318"]]},{"id":"afc49e86.cc2a2","type":"function","z":"940eb5b4.7e2ae8","name":"loop splitter","func":"var latestblock = msg.payload.latest;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":4010,"y":3900,"wires":[[]]},{"id":"8e61b084.97cc3","type":"debug","z":"940eb5b4.7e2ae8","name":"search by properties debug 2b","active":true,"console":"false","complete":"true","x":1910,"y":760,"wires":[]},{"id":"69e144bf.b66a8c","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":1790,"y":380,"wires":[]},{"id":"5d972bb6.3408c4","type":"comment","z":"940eb5b4.7e2ae8","name":"Caching Function Details","info":"So the Post routes,\nspecifically creating a project gets cached immediately.\n\nthe loops below are a blockchain to cache mechanism.","x":710,"y":2400,"wires":[]},{"id":"e43425d7.9ad318","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":4299.752414703369,"y":3973.2208456993103,"wires":[]},{"id":"197df7fb.19bc98","type":"function","z":"940eb5b4.7e2ae8","name":"genesis plus 1","func":"//injecting -1 can start you at 0\n\nvar genesis = msg.payload;\n\nmsg.payload = genesis + 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":3441.700881958008,"y":4092.429587841034,"wires":[["cf667e5a.efdcb","613cf8a7.a67dd8"]]},{"id":"613cf8a7.a67dd8","type":"function","z":"940eb5b4.7e2ae8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3439.0618438720703,"y":4156.756878376007,"wires":[["197df7fb.19bc98"]]},{"id":"390829f0.f7c186","type":"debug","z":"940eb5b4.7e2ae8","name":"ProjectFound Debug Alert","active":true,"console":"false","complete":"payload","x":1970,"y":2620,"wires":[]},{"id":"4863701c.7091e","type":"function","z":"940eb5b4.7e2ae8","name":"get_all_names","func":"var todo = 'get_all_names';\nvar pagenum = msg.payload;\n\nmsg.payload = todo + ' ' + pagenum;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2560,"wires":[["b63b3494.1f71c8"]]},{"id":"b63b3494.1f71c8","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":568,"y":2560,"wires":[["ec4c40b2.abc59"],[],[]]},{"id":"46d5ecdd.a6e354","type":"function","z":"940eb5b4.7e2ae8","name":"page + 1","func":"var page = parseInt(msg.payload);\n\nmsg.payload = page + 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":2560,"wires":[["4c36055d.6ce48c"]]},{"id":"9643c9a5.e0cc88","type":"function","z":"940eb5b4.7e2ae8","name":"get latestpage","func":"//var pagenumber = msg.payload;\n\nmsg.payload = [\"latestpage\", \"pagenumber\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":2940,"wires":[["dc99f5b.8bd8c08"]]},{"id":"a0370a75.b69b08","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hset","name":"hset latestpage","topic":"","x":680,"y":2500,"wires":[[]]},{"id":"171b25f2.48c40a","type":"function","z":"940eb5b4.7e2ae8","name":"set latestpage","func":"var pagenumber = msg.payload;\n\nmsg.payload = [\"latestpage\", \"pagenumber\", pagenumber];\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2500,"wires":[["a0370a75.b69b08","bff67c2c.19ed3"]]},{"id":"bff67c2c.19ed3","type":"debug","z":"940eb5b4.7e2ae8","name":"debug hset latestpage num","active":true,"console":"false","complete":"payload","x":720,"y":2460,"wires":[]},{"id":"dc99f5b.8bd8c08","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hget","name":"hget latestpage","topic":"","x":200,"y":2680,"wires":[["5b0275ad.693a2c","6aac3fb.c7881c"]]},{"id":"5b0275ad.693a2c","type":"debug","z":"940eb5b4.7e2ae8","name":"debug hget latestpage num","active":true,"console":"false","complete":"payload","x":460,"y":2680,"wires":[]},{"id":"2207eccf.f9f244","type":"switch","z":"940eb5b4.7e2ae8","name":"if contains pr01-","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"pr01-","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1140,"y":2600,"wires":[["364787c5.57f2b8","12f9659b.bb710a"],["152c7146.20ec5f"]]},{"id":"721afc84.b602a4","type":"debug","z":"940eb5b4.7e2ae8","name":"to loopback","active":true,"console":"false","complete":"payload","x":1570,"y":2700,"wires":[]},{"id":"152c7146.20ec5f","type":"function","z":"940eb5b4.7e2ae8","name":"NoProjects","func":"msg.payload = \"NoProjects\";\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2660,"wires":[["721afc84.b602a4","9643c9a5.e0cc88"]]},{"id":"364787c5.57f2b8","type":"function","z":"940eb5b4.7e2ae8","name":"ProjectFound","func":"// beta temp loop back point (helps to log)\nmsg.payload = \"ProjectFound\";\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2580,"wires":[["bdd2aa90.9b4328"]]},{"id":"e0f4d680.69d018","type":"file","z":"940eb5b4.7e2ae8","name":"ProjectFound Log","filename":"/home/temp/ProjectFound.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1950,"y":2580,"wires":[]},{"id":"bdd2aa90.9b4328","type":"function","z":"940eb5b4.7e2ae8","name":"get latestpage","func":"var pagenumber = msg.payload;\n\nmsg.payload = [\"latestpage\", \"pagenumber\"];\n\nreturn msg;\n\n// using this to log the current page number\n// that correlates to at least 1 project being detected\n","outputs":1,"noerr":0,"x":1580,"y":2580,"wires":[["249f5cca.e75ce4"]]},{"id":"249f5cca.e75ce4","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hget","name":"","topic":"","x":1750,"y":2580,"wires":[["e0f4d680.69d018","390829f0.f7c186"]]},{"id":"12f9659b.bb710a","type":"function","z":"940eb5b4.7e2ae8","name":"parse array for pr01-","func":"arr = msg.payload;\nvar ret = [];\nfor (var i =0; i < arr.length; i++) { \n    if (arr[i].substr(0, 5) == \"pr01-\") {\n        ret.push(arr[i]);\n    }\n}\nmsg.payload = ret;\nreturn msg;\n\n//after receiving the page of names\n//that contained at least 1 entry starting with pr01-\n//this function parses down those pages of names\n//to only pass along the names that start in pr01-","outputs":1,"noerr":0,"x":1340,"y":2540,"wires":[["50c7a1f3.0b76b"]]},{"id":"1be35faa.c017b","type":"debug","z":"940eb5b4.7e2ae8","name":"allprojects debug","active":true,"console":"false","complete":"payload","x":2750,"y":2440,"wires":[]},{"id":"b22e9599.ccb898","type":"comment","z":"940eb5b4.7e2ae8","name":"TESTING INPUT","info":"","x":1540,"y":2420,"wires":[]},{"id":"50c7a1f3.0b76b","type":"function","z":"940eb5b4.7e2ae8","name":"get length and pass array","func":"var arr = msg.payload;\n\nmsg.loopa = arr.length;\n\nmsg.payload = arr;\n\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2540,"wires":[["3798a7cb.bca4b8","d01f7ab4.01ebb8","c3e1dd7f.aa056","89d22079.a615b"]]},{"id":"3798a7cb.bca4b8","type":"debug","z":"940eb5b4.7e2ae8","name":"loopa debug","active":true,"console":"false","complete":"loopa","x":1890,"y":2340,"wires":[]},{"id":"cdd949f0.0686c8","type":"function","z":"940eb5b4.7e2ae8","name":"test array","func":"\nmsg.payload = [\n    \"pr01-m1f9kesl9v92lclivkrfcgt1.id\",\n    \"pr01-m2f9kesl9v92lclivkrfcgt2.id\",\n    \"pr01-m3f9kesl9v92lclivkrfcgt3.id\"\n    ];\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":2460,"wires":[["50c7a1f3.0b76b"]]},{"id":"57853b52.369044","type":"inject","z":"940eb5b4.7e2ae8","name":"inject test array","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1420,"y":2460,"wires":[["cdd949f0.0686c8"]]},{"id":"d01f7ab4.01ebb8","type":"function","z":"940eb5b4.7e2ae8","name":"single outputs","func":"msg.payload.forEach(function(element) {\n    node.send({\"payload\": element});\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":2540,"wires":[["e6bce03e.eeb57"]]},{"id":"89d22079.a615b","type":"debug","z":"940eb5b4.7e2ae8","name":"unique outputs debugger","active":true,"console":"false","complete":"payload","x":1930,"y":2440,"wires":[]},{"id":"cdeb6c28.65627","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"set","name":"set loopa","topic":"","x":2020,"y":2380,"wires":[[]]},{"id":"c3e1dd7f.aa056","type":"function","z":"940eb5b4.7e2ae8","name":"set loopa","func":"var loopa = parseInt(msg.loopa);\n\nmsg.payload = [\"loopa\", loopa];\n\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":2380,"wires":[["cdeb6c28.65627"]]},{"id":"2637788.3b37f88","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"sadd","name":"SADD to allprojects","topic":"","x":2510,"y":2540,"wires":[["1be35faa.c017b","eb3103e4.9c017","b7f2db41.621b28"]]},{"id":"b86c0851.a87638","type":"function","z":"940eb5b4.7e2ae8","name":"prefunc for GEOADD","func":"//bind  your variables from your decoded payload to your projectzone file\n\nvar project_id = msg.payload.id; //bind project id - this is corrisponding blockstack name\n\n//bind location vars\nvar longitude = msg.payload.coordinates.longitude;\nvar latitude = msg.payload.coordinates.latitude;\n\n//Valid longitudes are from -180 to 180 degrees.\n//Valid latitudes are from -85.05112878 to 85.05112878 degrees.\n//The command will report an error when the user attempts to index coordinates outside the specified ranges.\n\n//bind the payload vars in order to set them into the projects redis key\nmsg.payload = ['projects', longitude, latitude, project_id];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2720,"y":2720,"wires":[["ed9bd752.a4e1f8"]]},{"id":"ed9bd752.a4e1f8","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"geoadd","name":"proximity cache","topic":"","x":2960,"y":2720,"wires":[["4fe77d8c.9e6954"]]},{"id":"4fe77d8c.9e6954","type":"debug","z":"940eb5b4.7e2ae8","name":"add proximity debugger","active":true,"console":"false","complete":"payload","x":3190,"y":2720,"wires":[]},{"id":"807ad961.f78bc8","type":"debug","z":"940eb5b4.7e2ae8","name":"flush loopz debug","active":true,"console":"false","complete":"payload","x":2590,"y":2840,"wires":[]},{"id":"f4d32183.da8a1","type":"function","z":"940eb5b4.7e2ae8","name":"SADD","func":"var projectraw = String(msg.payload);\n\nvar project = projectraw.slice(0, 32);\n\nmsg.payload = [\"allprojects\", project];\n\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":2540,"wires":[["fead47a0.55ce48"]]},{"id":"486d68cc.f297c8","type":"debug","z":"940eb5b4.7e2ae8","name":"sadd debug","active":true,"console":"false","complete":"payload","x":2470,"y":2500,"wires":[]},{"id":"98af6c26.60a7d","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"get","name":"get loopa","topic":"","x":2980,"y":2540,"wires":[["31d4b067.97098"]]},{"id":"5cabf42c.c2b5ec","type":"function","z":"940eb5b4.7e2ae8","name":"compare","func":"var loopa = msg.payload;\nvar loopz = msg.pulse;\n\nif (loopa <= loopz) {\n   return [ null, msg ];\n} else {\n   return [ msg, null ];\n}","outputs":"2","noerr":0,"x":3680,"y":2540,"wires":[["3f546e0e.ef2fc2"],["25614bbe.4ae744","95d95716.745648"]]},{"id":"12b67a52.5bda46","type":"function","z":"940eb5b4.7e2ae8","name":"get loopa","func":"\n\nmsg.payload = [\"loopa\"]; \nreturn msg;","outputs":1,"noerr":0,"x":2820,"y":2540,"wires":[["98af6c26.60a7d"]]},{"id":"3f546e0e.ef2fc2","type":"debug","z":"940eb5b4.7e2ae8","name":"loopz not done","active":true,"console":"false","complete":"payload","x":3920,"y":2540,"wires":[]},{"id":"25614bbe.4ae744","type":"debug","z":"940eb5b4.7e2ae8","name":"if loopz equal or greater to loopa (loop back)","active":true,"console":"false","complete":"payload","x":4010,"y":2580,"wires":[]},{"id":"f97b3cc9.b0b2","type":"function","z":"940eb5b4.7e2ae8","name":"test inject a and z","func":"\nmsg.payload = 3; //loopa\nmsg.pulse = 4; //loopz\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3430,"y":2500,"wires":[["5cabf42c.c2b5ec","e628abb2.9963e8","e25ca606.d4ddd8"]]},{"id":"cff82eea.10f2e","type":"inject","z":"940eb5b4.7e2ae8","name":"test inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3240,"y":2500,"wires":[["f97b3cc9.b0b2"]]},{"id":"e25ca606.d4ddd8","type":"debug","z":"940eb5b4.7e2ae8","name":"loopz debug","active":true,"console":"false","complete":"pulse","x":3910,"y":2500,"wires":[]},{"id":"e628abb2.9963e8","type":"debug","z":"940eb5b4.7e2ae8","name":"loopa debug","active":true,"console":"false","complete":"payload","x":3910,"y":2460,"wires":[]},{"id":"3c3b5101.589fee","type":"debug","z":"940eb5b4.7e2ae8","name":"loopz debug","active":true,"console":"false","complete":"payload","x":2990,"y":2460,"wires":[]},{"id":"32721faa.0bd12","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"incr","name":"INCR loopz","topic":"","x":2830,"y":2500,"wires":[["3c3b5101.589fee","96eb3e33.9ec91"]]},{"id":"eb3103e4.9c017","type":"function","z":"940eb5b4.7e2ae8","name":"INCR","func":"//var loopz = parseInt(msg.loopz);\n\n\nmsg.payload = [\"loopz\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":2690,"y":2500,"wires":[["32721faa.0bd12"]]},{"id":"77b74cf2.b76494","type":"comment","z":"940eb5b4.7e2ae8","name":"TESTING BASIC LOOPBACK","info":"","x":1920,"y":3080,"wires":[]},{"id":"a7819530.066348","type":"comment","z":"940eb5b4.7e2ae8","name":"About Comparison","info":"Since the array of project names gets broken out into single outputs\nits necessary to prevent the loop from getting sent back to soon\nie don't send back multiple signals to the start of the loop\nif the current page happens to contain multiple projects in it.","x":3670,"y":2600,"wires":[]},{"id":"51fc46f6.903858","type":"function","z":"940eb5b4.7e2ae8","name":"flush loopz","func":"//flush loopz before loopback to page +1\nvar zero = 0;\n\nmsg.payload = [\"loopz\", zero]; //pass along redis command to get loopa\n\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":2840,"wires":[["903cf241.be2d6"]]},{"id":"b6ecf112.25218","type":"inject","z":"940eb5b4.7e2ae8","name":"inject flush of loopz","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1970,"y":2840,"wires":[["51fc46f6.903858"]]},{"id":"903cf241.be2d6","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"set","name":"set loopz","topic":"","x":2380,"y":2840,"wires":[["807ad961.f78bc8","9643c9a5.e0cc88"]]},{"id":"de4d04e5.57dee8","type":"debug","z":"940eb5b4.7e2ae8","name":"loopz debug","active":true,"console":"false","complete":"payload","x":2970,"y":2360,"wires":[]},{"id":"349679f6.099e46","type":"inject","z":"940eb5b4.7e2ae8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":2470,"y":2360,"wires":[["a904b960.e93238"]]},{"id":"51753b58.e417c4","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"get","name":"get loopz","topic":"","x":2780,"y":2360,"wires":[["de4d04e5.57dee8"]]},{"id":"a904b960.e93238","type":"function","z":"940eb5b4.7e2ae8","name":"get loopz","func":"\n\nmsg.payload = [\"loopz\"]; \nreturn msg;","outputs":1,"noerr":0,"x":2620,"y":2360,"wires":[["51753b58.e417c4"]]},{"id":"4d073e43.0272c","type":"inject","z":"940eb5b4.7e2ae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2540,"y":2460,"wires":[["eb3103e4.9c017"]]},{"id":"e655f4b9.78e308","type":"debug","z":"940eb5b4.7e2ae8","name":"flush loopa debug","active":true,"console":"false","complete":"payload","x":2590,"y":2760,"wires":[]},{"id":"95d95716.745648","type":"function","z":"940eb5b4.7e2ae8","name":"flush loopa","func":"//flush loopa before loopback to page +1\nvar zero = 0;\n\nmsg.payload = [\"loopa\", zero]; //pass along redis command to get loopa\n\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":2780,"wires":[["6572b117.7ae43"]]},{"id":"10c786d5.b651c9","type":"inject","z":"940eb5b4.7e2ae8","name":"inject flush of loopa","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1970,"y":2780,"wires":[["95d95716.745648"]]},{"id":"6572b117.7ae43","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"set","name":"set loopa","topic":"","x":2380,"y":2780,"wires":[["e655f4b9.78e308","51fc46f6.903858","5d9784b0.f7924c"]]},{"id":"bca09e52.cce82","type":"debug","z":"940eb5b4.7e2ae8","name":"loopa debug","active":true,"console":"false","complete":"payload","x":2970,"y":2320,"wires":[]},{"id":"d3e0fb80.29bf18","type":"inject","z":"940eb5b4.7e2ae8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":2470,"y":2320,"wires":[["21d230b7.a39dc"]]},{"id":"ecb69f2.2d0146","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"get","name":"get loopa","topic":"","x":2780,"y":2320,"wires":[["bca09e52.cce82"]]},{"id":"21d230b7.a39dc","type":"function","z":"940eb5b4.7e2ae8","name":"get loopa","func":"\n\nmsg.payload = [\"loopa\"]; \nreturn msg;","outputs":1,"noerr":0,"x":2620,"y":2320,"wires":[["ecb69f2.2d0146"]]},{"id":"1e363501.52d7db","type":"function","z":"940eb5b4.7e2ae8","name":"get Liberty","func":"var loopa = parseInt(msg.payload);\nvar loopzraw = global.get(\"Liberty\");\n\nvar loopz = parseInt(loopzraw);\n\nmsg.payload = loopa;\nmsg.pulse = loopz; \n\nreturn msg;","outputs":1,"noerr":0,"x":3450,"y":2540,"wires":[["5cabf42c.c2b5ec"]]},{"id":"96eb3e33.9ec91","type":"function","z":"940eb5b4.7e2ae8","name":"set Liberty globally","func":"global.set(\"Liberty\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3010,"y":2500,"wires":[[]]},{"id":"aaea2830.cb4748","type":"function","z":"940eb5b4.7e2ae8","name":"get Liberty","func":"\nvar liberate = global.get(\"Liberty\");\n\nmsg.payload = liberate;\n\nreturn msg;","outputs":1,"noerr":0,"x":2630,"y":2280,"wires":[["6726872b.2365b8"]]},{"id":"6726872b.2365b8","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":2800,"y":2280,"wires":[]},{"id":"df6fe7dd.7dae78","type":"inject","z":"940eb5b4.7e2ae8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":2470,"y":2280,"wires":[["aaea2830.cb4748"]]},{"id":"76965b78.30dd24","type":"comment","z":"940eb5b4.7e2ae8","name":"TEST CLOCKWORK","info":"","x":2660,"y":2240,"wires":[]},{"id":"469414d1.b500ac","type":"inject","z":"940eb5b4.7e2ae8","name":"inject flush ","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":2220,"y":2980,"wires":[["9bf9967d.080548"]]},{"id":"9bf9967d.080548","type":"function","z":"940eb5b4.7e2ae8","name":"flush allprojects","func":"\nmsg.payload = [\"allprojects\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":2980,"wires":[["b45e5cc5.8bd46"]]},{"id":"b45e5cc5.8bd46","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"del","name":"DEL allprojects","topic":"","x":2640,"y":2980,"wires":[["3b9f04d1.c43c8c"]]},{"id":"3b9f04d1.c43c8c","type":"debug","z":"940eb5b4.7e2ae8","name":"delete all projects debug","active":true,"console":"false","complete":"payload","x":2910,"y":2980,"wires":[]},{"id":"f3071008.a1035","type":"inject","z":"940eb5b4.7e2ae8","name":"inject get","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":2220,"y":2940,"wires":[["e2e97c1b.ee1c"]]},{"id":"e2e97c1b.ee1c","type":"function","z":"940eb5b4.7e2ae8","name":"get allprojects","func":"\nmsg.payload = [\"allprojects\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":2940,"wires":[["d777f5b8.5e1458"]]},{"id":"d777f5b8.5e1458","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"smembers","name":"SMEMBERS allprojects","topic":"","x":2610,"y":2940,"wires":[["546ecccd.806f24"]]},{"id":"546ecccd.806f24","type":"debug","z":"940eb5b4.7e2ae8","name":"get all projects debug","active":true,"console":"false","complete":"payload","x":2900,"y":2940,"wires":[]},{"id":"53674257.8bf12c","type":"comment","z":"940eb5b4.7e2ae8","name":"Old BUG LOG","info":"SO basically i can write the project name\nto the allprojects key in redis, but\nfor some reason it likes to write 2 project names\nto a single entry, but not every time,\nand when it does it seems to be of\nproject names/ids already individually as SMEMBERS\n\npotential strategys to fix\n1)custom switch after 'single outputs' that only passes\nthe payload along the main route if length is 32, ie not longer\n\n2) introduce a small delay to stabalize redis write?\n\n3)rebuild alternative to 'single outputs'?","x":1870,"y":3120,"wires":[]},{"id":"975ae750.0e81b8","type":"delay","z":"940eb5b4.7e2ae8","name":"200ms","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2070,"y":2540,"wires":[["f4d32183.da8a1"]]},{"id":"b3efe4fb.106da8","type":"comment","z":"940eb5b4.7e2ae8","name":"Geospatial TLC needed","info":"Need to rig up against allprojects \nto the GEOADD indexing prefunc \nsimilar to how the name caching works \nor perhaps integrate it into the main","x":2940,"y":2680,"wires":[]},{"id":"d58828c1.022ad8","type":"function","z":"940eb5b4.7e2ae8","name":"exit if empty array","func":"\nvar value = msg.payload;\n\nif (value.length === 0) {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":"2","noerr":0,"x":870,"y":2560,"wires":[["2d12ac2d.ae5144","dfb31ca1.aacf4"],["2c5c0782.9ba288","2207eccf.f9f244"]]},{"id":"2d12ac2d.ae5144","type":"debug","z":"940eb5b4.7e2ae8","name":"final exit if empty","active":true,"console":"false","complete":"payload","x":1150,"y":2400,"wires":[]},{"id":"2c5c0782.9ba288","type":"debug","z":"940eb5b4.7e2ae8","name":"pass thru debug","active":true,"console":"false","complete":"payload","x":1140,"y":2640,"wires":[]},{"id":"ec4c40b2.abc59","type":"json","z":"940eb5b4.7e2ae8","name":"json","pretty":false,"x":714,"y":2560,"wires":[["d58828c1.022ad8"]]},{"id":"f2ab79f6.fdcb88","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hset","name":"hset latestpage","topic":"","x":1140,"y":2480,"wires":[["3a6cbd76.8b6e02"]]},{"id":"dfb31ca1.aacf4","type":"function","z":"940eb5b4.7e2ae8","name":"reset latestpage","func":"var pagenumber = \"-1\";\n\nmsg.payload = [\"latestpage\", \"pagenumber\", pagenumber];\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":2520,"wires":[["f2ab79f6.fdcb88"]]},{"id":"3a6cbd76.8b6e02","type":"debug","z":"940eb5b4.7e2ae8","name":"debug hset latestpage reset","active":true,"console":"false","complete":"payload","x":1180,"y":2440,"wires":[]},{"id":"6aac3fb.c7881c","type":"delay","z":"940eb5b4.7e2ae8","name":"1500ms delay","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":2640,"wires":[["46d5ecdd.a6e354"]]},{"id":"ee299fad.0610a","type":"comment","z":"940eb5b4.7e2ae8","name":"legacy technique","info":"used to used a static value switch","x":900,"y":2400,"wires":[]},{"id":"901f55cb.4ac7d8","type":"inject","z":"940eb5b4.7e2ae8","name":"inject -1 at start and every 30min","topic":"","payload":"-1","payloadType":"str","repeat":"1800","crontab":"","once":true,"x":140,"y":2320,"wires":[["f6191b33.a01298"]]},{"id":"f6191b33.a01298","type":"function","z":"940eb5b4.7e2ae8","name":"get latestpage","func":"//var pagenumber = msg.payload;\n\nmsg.payload = [\"latestpage\", \"pagenumber\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":2360,"wires":[["864826cf.1e5188"]]},{"id":"864826cf.1e5188","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hget","name":"hget latestpage","topic":"","x":200,"y":2400,"wires":[["9009a505.556498"]]},{"id":"9009a505.556498","type":"switch","z":"940eb5b4.7e2ae8","name":"exit if not -1 else pass","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"-1","vt":"str"}],"checkall":"true","outputs":2,"x":180,"y":2440,"wires":[["276f0b7b.b50284"],["46d5ecdd.a6e354"]]},{"id":"276f0b7b.b50284","type":"debug","z":"940eb5b4.7e2ae8","name":"exit if not -1 (in progress)","active":true,"console":"false","complete":"payload","x":450,"y":2420,"wires":[]},{"id":"2b91602.a6e47a","type":"function","z":"940eb5b4.7e2ae8","name":"set latestpage cached to -1","func":"var pagenumber = \"-1\";\n\nmsg.payload = [\"latestpage\", \"pagenumber\", pagenumber];\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":2100,"wires":[["4bec1e8b.06215"]]},{"id":"4bec1e8b.06215","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hset","name":"hset latestpage","topic":"","x":1480,"y":2100,"wires":[["f3d1ff56.01258","95d95716.745648","7a3926d6.569f38"]]},{"id":"3caf7cfa.c26b74","type":"inject","z":"940eb5b4.7e2ae8","name":"inject","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":550,"y":2100,"wires":[["2b91602.a6e47a"]]},{"id":"f3d1ff56.01258","type":"debug","z":"940eb5b4.7e2ae8","name":"restart cache api end point debug","active":true,"console":"false","complete":"payload","x":2640,"y":1960,"wires":[]},{"id":"31d4b067.97098","type":"delay","z":"940eb5b4.7e2ae8","name":"500ms delay","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3270,"y":2540,"wires":[["1e363501.52d7db"]]},{"id":"5d9784b0.f7924c","type":"function","z":"940eb5b4.7e2ae8","name":"reset Liberty globally","func":"var liberate = 0;\n\nglobal.set(\"Liberty\",liberate);\nreturn msg;","outputs":1,"noerr":0,"x":2600,"y":2800,"wires":[[]]},{"id":"6e9ffecd.48e78","type":"comment","z":"940eb5b4.7e2ae8","name":"debug notes","info":"I think i have to still clean up the single outputs\nit appears to be sending 1 extra output\nif it finds a project","x":2090,"y":2460,"wires":[]},{"id":"fead47a0.55ce48","type":"rbe","z":"940eb5b4.7e2ae8","name":"rbe","func":"rbe","gap":"","start":"","inout":"out","x":2330,"y":2540,"wires":[["2637788.3b37f88","486d68cc.f297c8"]]},{"id":"e6bce03e.eeb57","type":"rbe","z":"940eb5b4.7e2ae8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1950,"y":2540,"wires":[["975ae750.0e81b8"]]},{"id":"b7f2db41.621b28","type":"delay","z":"940eb5b4.7e2ae8","name":"200ms","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2690,"y":2540,"wires":[["12b67a52.5bda46"]]},{"id":"e5826e02.0325b","type":"inject","z":"940eb5b4.7e2ae8","name":"inject 0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":2210,"y":3080,"wires":[["f360e256.b6f1d"]]},{"id":"f360e256.b6f1d","type":"function","z":"940eb5b4.7e2ae8","name":"sscan allprojects","func":"\nvar sky = parseInt(msg.payload);\n\nmsg.payload = [\"allprojects\", sky];\n\nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":3080,"wires":[["a83c8b3a.8db928","b1b97a2a.5f5e58"]]},{"id":"a83c8b3a.8db928","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"sscan","name":"SSCAN allprojects","topic":"","x":2650,"y":3080,"wires":[["1b3f46d1.3b9659","70958183.e6db"]]},{"id":"1b3f46d1.3b9659","type":"debug","z":"940eb5b4.7e2ae8","name":"sscan allprojects debug","active":true,"console":"false","complete":"payload","x":2910,"y":3080,"wires":[]},{"id":"b1b97a2a.5f5e58","type":"debug","z":"940eb5b4.7e2ae8","name":"sscan debug","active":true,"console":"false","complete":"payload","x":2630,"y":3040,"wires":[]},{"id":"a9737f75.0e69b","type":"function","z":"940eb5b4.7e2ae8","name":"loopback","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":3200,"wires":[[]]},{"id":"70958183.e6db","type":"switch","z":"940eb5b4.7e2ae8","name":"exit if 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":2680,"y":3140,"wires":[["65bfbe17.5ca51"],["a9737f75.0e69b"]]},{"id":"65bfbe17.5ca51","type":"debug","z":"940eb5b4.7e2ae8","name":"exit caching of details debugger","active":true,"console":"false","complete":"payload","x":2930,"y":3120,"wires":[]},{"id":"d2473035.2016d","type":"http in","z":"940eb5b4.7e2ae8","name":"/public?request=","url":"/public","method":"get","upload":false,"swaggerDoc":"","x":80,"y":980,"wires":[["52c9596f.890608","dd52ec35.471fe"]]},{"id":"dd52ec35.471fe","type":"switch","z":"940eb5b4.7e2ae8","name":"route based on request","property":"payload.request","propertyType":"msg","rules":[{"t":"regex","v":"search","vt":"str","case":false},{"t":"regex","v":"lookup","vt":"str","case":false},{"t":"regex","v":"whois","vt":"str","case":false},{"t":"regex","v":"profile","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":5,"x":550,"y":980,"wires":[["c31d30eb.7a722"],["e7a38b1f.826c48"],["db27626a.9d2a9"],["76a37566.40a45c"],["7ce2d736.bd25f8"]]},{"id":"52c9596f.890608","type":"debug","z":"940eb5b4.7e2ae8","name":"public request debugger","active":true,"console":"false","complete":"payload","x":550,"y":900,"wires":[]},{"id":"5ad6afb5.1f3bb","type":"debug","z":"940eb5b4.7e2ae8","name":"public search debugger null corrected","active":true,"console":"false","complete":"payload","x":1270,"y":780,"wires":[]},{"id":"aa45339.18f9ad","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":610,"y":1080,"wires":[]},{"id":"7ce2d736.bd25f8","type":"function","z":"940eb5b4.7e2ae8","name":"if error","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1040,"wires":[["aa45339.18f9ad"]]},{"id":"e7a38b1f.826c48","type":"function","z":"940eb5b4.7e2ae8","name":"if lookup","func":"var todo = 'lookup';\nvar projectname = msg.payload.id;\nvar type = '.id';\n\nmsg.payload = todo + ' ' + projectname + type;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":980,"wires":[["edbd6acc.276548","65523497.4f51bc"]]},{"id":"edbd6acc.276548","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1010,"y":980,"wires":[["fcd0a45a.18ecf8"],[],[]]},{"id":"fcd0a45a.18ecf8","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1150,"y":980,"wires":[["be471e7.4177ae"]]},{"id":"be471e7.4177ae","type":"function","z":"940eb5b4.7e2ae8","name":"extract zonefile v2","func":"var zfile = msg.payload.zonefile;\n\nmsg.payload = zfile;\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":980,"wires":[["dde85074.31dd"]]},{"id":"dde85074.31dd","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1550,"y":980,"wires":[["570f383.840c2c8","b747d38e.e43f6"]]},{"id":"570f383.840c2c8","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1710,"y":980,"wires":[]},{"id":"65523497.4f51bc","type":"debug","z":"940eb5b4.7e2ae8","name":"public lookup debugger","active":true,"console":"false","complete":"payload","x":1050,"y":940,"wires":[]},{"id":"b747d38e.e43f6","type":"debug","z":"940eb5b4.7e2ae8","name":"public lookup debugger","active":true,"console":"false","complete":"payload","x":1370,"y":940,"wires":[]},{"id":"606b9d16.64bac4","type":"debug","z":"940eb5b4.7e2ae8","name":"debug whois data","active":true,"console":"false","complete":"payload","x":1490,"y":1040,"wires":[]},{"id":"db27626a.9d2a9","type":"function","z":"940eb5b4.7e2ae8","name":"if whois","func":"var todo = 'whois';\nvar projectname = msg.payload.id;\nvar type = '.id';\n\nmsg.payload = todo + ' ' + projectname + type;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1040,"wires":[["f0b9a70f.ac1998"]]},{"id":"f0b9a70f.ac1998","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1010,"y":1040,"wires":[["1fa5a213.bff09e"],[],[]]},{"id":"1fa5a213.bff09e","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1150,"y":1040,"wires":[["b967fae6.a56878","606b9d16.64bac4"]]},{"id":"b967fae6.a56878","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1310,"y":1040,"wires":[]},{"id":"c9d0365b.06fb68","type":"comment","z":"940eb5b4.7e2ae8","name":"get whois done","info":"","x":1720,"y":1040,"wires":[]},{"id":"83d0d202.e0ae7","type":"comment","z":"940eb5b4.7e2ae8","name":"public request details","info":"search by proximity route:\n/public?request=search&search=proximity&longitude={{NUMBER}}&latitude={{NUMBER}}&distance={{NUMBER}}&unittype={{string}}&admin=false\n\nsearch by property route:\n/public?request=search&search=properties&type={{string}}&category={{string}}&phone={{NUMBER}}&email={{string}}&website={{string}}&address={{string}}&admin=false\n(if null use =0)\n\nlookup route:\n/public?request=lookup&id={{name}}&admin=false\n\nwhois route:\n/public?request=whois&id={{name}}&admin=false","x":130,"y":1040,"wires":[]},{"id":"fa3e75c.9023188","type":"http response","z":"940eb5b4.7e2ae8","name":"","statusCode":"","headers":{},"x":1170,"y":860,"wires":[]},{"id":"c31d30eb.7a722","type":"function","z":"940eb5b4.7e2ae8","name":"null corrections and pass thrus","func":"var search = msg.payload.search; // required for search type \n\n// 3 require parameters for properties based searches\nvar type = msg.payload.type; // required\nvar category = msg.payload.category; // required\nvar admin = msg.payload.admin;\n\n// 4 required parameters for proximity based searches\nvar longitude = msg.payload.longitude;\nvar latitude = msg.payload.latitude;\nvar distance = msg.payload.distance;\nvar unittype = msg.payload.unittype;\n\n\n// for properties search\n// 5 optional parameters provided by input if empty string convert to null value\nvar rawphone = msg.payload.phone;\n    if (rawphone === \"0\"){\n        var phone = null;\n    }else {\n        var phone = rawphone;\n    }\n\nvar rawemail = msg.payload.email;\n    if (rawemail === \"0\"){\n        var email = null;\n    }else {\n        var email = rawemail;\n    }\n\nvar rawwebsite = msg.payload.website;\n    if (rawwebsite === \"0\"){\n        var website = null;\n    }else {\n        var website = rawwebsite;\n    }\n\nvar rawaddress = msg.payload.address;\n    if (rawaddress === \"0\"){\n        var address = null;\n    }else {\n        var address = rawaddress;\n    }\n\nvar rawkeyword = msg.payload.keyword; \n    if (rawkeyword === \"0\"){\n        var keyword = null;\n    }else {\n        var keyword = rawkeyword;\n    }\n\nmsg.payload = {\n    \"search\": search,\n    \"type\": type,\n    \"category\": category,\n    \"phone\": phone,\n    \"email\": email,\n    \"website\": website,\n    \"address\": address,\n    \"keyword\": keyword,\n    \"admin\": admin\n};\n\n//bind vars to outputs for proximity search\nmsg.payload.latitude = latitude;\nmsg.payload.longitude = longitude;\nmsg.payload.distance = distance;\nmsg.payload.unittype = unittype;\n\n//bind vars to outputs for properties search\nmsg.payload.search = search;\nmsg.payload.type = type;\nmsg.payload.category = category;\nmsg.payload.phone = phone;\nmsg.payload.email = email;\nmsg.payload.website = website;\nmsg.payload.address = address;\nmsg.payload.keyword = keyword;\n\n//bind var to output for admin flag\nmsg.payload.admin = admin;\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":780,"wires":[["5ad6afb5.1f3bb","f4a9eb36.09e838"]]},{"id":"5e12460d.b913a8","type":"debug","z":"940eb5b4.7e2ae8","name":"public search debugger","active":true,"console":"false","complete":"payload","x":1230,"y":820,"wires":[]},{"id":"96541b0c.e73e08","type":"debug","z":"940eb5b4.7e2ae8","name":"debug whois data","active":true,"console":"false","complete":"payload","x":1490,"y":1100,"wires":[]},{"id":"76a37566.40a45c","type":"function","z":"940eb5b4.7e2ae8","name":"if lookup","func":"var todo = 'lookup';\nvar projectname = msg.payload.id;\nvar type = '.id';\n\nmsg.payload = todo + ' ' + projectname + type;\n\nreturn msg;\n\n// the main diff in this from other lookup is that this doesn't get its zone isolated down.","outputs":1,"noerr":0,"x":840,"y":1100,"wires":[["4da0ad33.679024"]]},{"id":"4da0ad33.679024","type":"exec","z":"940eb5b4.7e2ae8","command":"blockstack","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1010,"y":1100,"wires":[["c1f71a0a.faa2f8"],[],[]]},{"id":"c1f71a0a.faa2f8","type":"json","z":"940eb5b4.7e2ae8","name":"","x":1150,"y":1100,"wires":[["d956fd3e.3f5b5","96541b0c.e73e08"]]},{"id":"d956fd3e.3f5b5","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":1310,"y":1100,"wires":[]},{"id":"ef9edd88.e46fe","type":"function","z":"940eb5b4.7e2ae8","name":"if token","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":60,"wires":[["87503abc.fca2d8"]]},{"id":"1f028194.f9b46e","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hset","name":"hset sessionid","topic":"","x":1700,"y":60,"wires":[["35677708.893228"]]},{"id":"87503abc.fca2d8","type":"function","z":"940eb5b4.7e2ae8","name":"prep set sessionid token","func":"var rnd1 = Math.round ( Math.random() * 10000000 ) + 1;\nvar rnd2 = Math.floor ( Math.random() * 10000000 ) + 1; \nvar r1 = parseInt(rnd1);\nvar r2 = parseInt(rnd2);\n\nvar token = r1 + r2;\n\nmsg.payload = [\"sessionid\", \"token\", token];\n//msg.payload = token;\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":60,"wires":[["1f028194.f9b46e"]]},{"id":"35677708.893228","type":"function","z":"940eb5b4.7e2ae8","name":"get sessionid token","func":"\n\nmsg.payload = [\"sessionid\", \"token\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":60,"wires":[["f7af4332.36b07"]]},{"id":"f7af4332.36b07","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hget","name":"hget sessionid","topic":"","x":2120,"y":60,"wires":[["45e686bc.c7aba8"]]},{"id":"b6742365.7af65","type":"json","z":"940eb5b4.7e2ae8","name":"","pretty":false,"x":2430,"y":60,"wires":[["d9c0aee7.3e657","45f766df.40dd28"]]},{"id":"cc63cf4e.9b16","type":"inject","z":"940eb5b4.7e2ae8","name":"get sessionid token test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1740,"y":20,"wires":[["35677708.893228"]]},{"id":"45e686bc.c7aba8","type":"function","z":"940eb5b4.7e2ae8","name":"obj","func":"var token = msg.payload;\n\nmsg.payload = {\"token\":token};\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":60,"wires":[["b6742365.7af65"]]},{"id":"d9c0aee7.3e657","type":"debug","z":"940eb5b4.7e2ae8","name":"debug hset sessionid","active":true,"console":"false","complete":"payload","x":2520,"y":20,"wires":[]},{"id":"45f766df.40dd28","type":"http response","z":"940eb5b4.7e2ae8","name":"","statusCode":"","headers":{},"x":2570,"y":60,"wires":[]},{"id":"16bfeb45.5fa5c5","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"false","x":940,"y":1900,"wires":[]},{"id":"31696081.8a1c6","type":"http response","z":"940eb5b4.7e2ae8","name":"","statusCode":"","headers":{},"x":2330,"y":2100,"wires":[]},{"id":"50c2b49f.15ae1c","type":"function","z":"940eb5b4.7e2ae8","name":"if success","func":"msg.payload = {\"message\": \"Recache underway, this can take a few minutes, searches results may vary until completed.\"}\nreturn msg;","outputs":1,"noerr":0,"x":2180,"y":2100,"wires":[["31696081.8a1c6"]]},{"id":"f6b9639a.b71be","type":"function","z":"940eb5b4.7e2ae8","name":"if error","func":"msg.payload = {\"request\": \"error in request\"}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2200,"wires":[["1340d99f.be96c6"]]},{"id":"1340d99f.be96c6","type":"http response","z":"940eb5b4.7e2ae8","name":"","x":990,"y":2240,"wires":[]},{"id":"83c8274a.4a5b98","type":"function","z":"940eb5b4.7e2ae8","name":"get token","func":"//var pagenumber = msg.payload;\n\nvar token = msg.payload.token;\n\n\n\nmsg.payload = [\"sessionid\", \"token\"];\nmsg.token = token;\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1980,"wires":[["40900505.e5193c"]]},{"id":"40900505.e5193c","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hget","name":"hget sessionid","topic":"","x":920,"y":2020,"wires":[["8e927c7e.c7449","842e516a.eda4b","a70abf.30a7c54"]]},{"id":"a70abf.30a7c54","type":"function","z":"940eb5b4.7e2ae8","name":"compare sessionid to token used","func":"var sessionid = msg.payload.sessionid;\nvar token = msg.token;\n\nif (token == sessionid) {\n   return [ null, msg ];\n} else {\n   return [ msg, null ];\n}","outputs":"2","noerr":0,"x":880,"y":2120,"wires":[["ae74d4a3.819028","2b91602.a6e47a"],["f6b9639a.b71be","6f4496dd.e4af48"]]},{"id":"8e927c7e.c7449","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"payload","x":1170,"y":2020,"wires":[]},{"id":"842e516a.eda4b","type":"debug","z":"940eb5b4.7e2ae8","name":"","active":true,"console":"false","complete":"token","x":1170,"y":2060,"wires":[]},{"id":"ae74d4a3.819028","type":"debug","z":"940eb5b4.7e2ae8","name":"token success debug","active":true,"console":"false","complete":"payload","x":1220,"y":2160,"wires":[]},{"id":"6f4496dd.e4af48","type":"debug","z":"940eb5b4.7e2ae8","name":"token unsuccessful debug","active":true,"console":"false","complete":"payload","x":1230,"y":2200,"wires":[]},{"id":"7a3926d6.569f38","type":"function","z":"940eb5b4.7e2ae8","name":"reset sessionid token to 0","func":"var token = 0;\n\nmsg.payload = [\"sessionid\", \"token\", token];\n//msg.payload = token;\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":2100,"wires":[["e7de79d4.a8fc08"]]},{"id":"e7de79d4.a8fc08","type":"redis-command","z":"940eb5b4.7e2ae8","server":"67169bf2.f1e1d4","command":"hset","name":"hset sessionid","topic":"","x":2000,"y":2100,"wires":[["50c2b49f.15ae1c"]]},{"id":"4c36055d.6ce48c","type":"rbe","z":"940eb5b4.7e2ae8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":230,"y":2560,"wires":[["4863701c.7091e","171b25f2.48c40a"]]},{"id":"b7a5b4a9.918058","type":"JsonWebToken_config","z":"940eb5b4.7e2ae8","name":"SouqJWT","secret":"123abc"},{"id":"67169bf2.f1e1d4","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"24e75e5a.0d6c82","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"projects","tz":"PST"}]
